<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ../static/head.ejs %>
</head>

<body class="stretched">
  <!-- HEADER -->
  <% include ../addon/header.ejs %>

    <!-- CONTENT -->
    <div class="content-wrap">
      <div id="login-container" class="container clearfix">
      </div>
    </div>
    <!-- END / CONTENT -->

    <!-- FOOTER -->
    <% include ../addon/footer.ejs %>

      <!-- LOAD JAVASCRIPT -->
      <% include ../static/js.ejs %>
        <script>
          var lock = new Auth0Lock(
            '<%= AUTH0_CLIENT_ID %>',
            '<%= AUTH0_DOMAIN %>',
            {
              auth: {
                redirectUrl: '<%= AUTH0_CALLBACK_URL %>',
                responseType: 'code',
                params: {
                  scope: 'openid name email picture ID'
                },
              },
              container: 'login-container',
              additionalSignUpFields: [
                {
                  name: "nickname",
                  placeholder: "Enter your nick name",
                  validator: function(nickname) {
                    return {
                      valid: nickname.length >= 6,
                      hint: "Must have 6 or more chars" // optional
                    };
                  }
                }, {
                  type: "select",
                  name: "member_type",
                  placeholder: "choose your member type",
                  options: [
                    { value: "PUBLIC", label: "일반 회원" },
                    { value: "BUSINESS", label: "사업주 회원" }
                  ],
//                  options: function(cb) {                               // required
//                    // obtain options, in case of error you call cb with the error in the
//                    // first arg instead of null
//                    cb(null, options);
//                  },
//                  prefill: function(cb) {                               // optional
//                    // obtain prefill, in case of error you call cb with the error in the
//                    // first arg instead of null
//                    cb(null, prefill);
//                  },
                }
              ]
            });

          lock.show();
        </script>
</body>

</html>
