<!DOCTYPE html>
<html>
<head>
   <title>krpano</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
   <meta name="apple-mobile-web-app-capable" content="yes"/>
   <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
   <meta http-equiv="x-ua-compatible" content="IE=edge"/>
   <style>
      @-ms-viewport {
         width: device-width;
      }

      @media only screen and (min-device-width: 800px) {
         html {
            overflow: hidden;
         }
      }

      html {
         height: 100%;
      }

      body {
         height: 100%;
         overflow: hidden;
         margin: 0;
         padding: 0;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 16px;
         color: #FFFFFF;
         background-color: #000000;
      }

      .right_box {
         left: auto;
         float: right;
         right: 0;
         top: 20% !important;
         bottom: auto;
         width: 3pc;
         height: 260px;
      }

      .left_box {
         top: 0;
         left: 5%;
         width: 280px;
      }

      /*.input_group{*/
      /*display: none;*/
      /*}*/

      /*#copy_body:hover, #copy_body:active ~ .input_group{*/
      /*display: block;*/
      /*float:left;*/
      /*width:100%;*/
      /*}*/

   </style>


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

   <script type="text/javascript" src="//developers.band.us/js/share/band-button.js?v=28052017"></script>

   <!--카톡-->
   <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   <meta name="viewport"
         content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
   <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>


   <!-- 페북 공유 -->
   <meta property="og:url" content="http://localhost:3000"/>
   <meta property="og:type" content="website"/>
   <meta property="og:title" content="MobilityLabs"/>
   <meta property="og:description" content="VR contents"/>
   <meta property="og:image" content="http://www.your-domain.com/path/image.jpg"/>

   <div id="fb-roob"></div>
   <script>
      (function (d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s);
         js.id = id;
         js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.9";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
   </script>

   <!-- 카톡 공유 -->
   <!--<script type='text/javascript'>-->
      <!--//<![CDATA[-->
      <!--// 사용할 앱의 JavaScript 키를 설정해 주세요.-->
      <!--Kakao.init('f77d48fc8ce43e37fc0c908c8d09d9f7');-->
      <!--function shareStory() {-->
         <!--Kakao.Story.share({-->
            <!--url: 'http://localhost:3000',-->
            <!--text: ' 아늑한 집입니다! '-->
         <!--});-->
      <!--}-->
      <!--//]]>-->
   <!--</script>-->
   <script type='text/javascript'>
      //<![CDATA[
      // // 사용할 앱의 JavaScript 키를 설정해 주세요.
      Kakao.init('f77d48fc8ce43e37fc0c908c8d09d9f7');
      // // 카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
      function sendLink() {
         Kakao.Link.sendDefault({
            objectType: 'feed',
            content: {
               title: 'Krpano',
               description: '#VR  #쩐다  #우왕신기',
               imageUrl: 'http://mud-kage.kakao.co.kr/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
               link: {
                  mobileWebUrl: 'http://localhost:3000',
                  webUrl: 'http://localhost:3000'
               }
            },
            social: {
               likeCount: 286,
               commentCount: 45,
               sharedCount: 845
            },
            buttons: [
               {
                  title: '웹으로 보기',
                  link: {
                     mobileWebUrl: 'http://localhost:3000',
                     webUrl: 'http://localhost:3000'
                  }
               },
               {
                  title: '앱으로 보기',
                  link: {
                     mobileWebUrl: 'http://localhost:3000',
                     webUrl: 'http://localhost:3000'
                  }
               }
            ]
         });
      }
      //]]>
   </script>

   <% include ../static/head.ejs %>

</head>

<body>

<!--krpano js 파일-->
<script src="/lib/krpano-1.19-pr6-viewer/krpano-tour.js"></script>


<div id="pano" style="width:100%;height:100%;">


   <div class="left_box" style="position: absolute; z-index: 9999; background-color: white">

      <div class="col_three_fifth">
         Krpano
      </div>
      <div class="col_two_fifth nomargin">
         <img src="<%= mediaUrl %>/users/profile1_20170125150101.jpg">
      </div>

   </div>


   <div class="right_box" style="position: absolute; z-index: 9999;">

      <div class="copy_body_fi">
         <div class="input_group">

            <div class="center">
               <a href="#myModal1" data-lightbox="inline" class="i-rounded i-bordered icon-external-link"></a>
               <!--<a href="modal-onload.html" class="button button-mini button-rounded button-dark">Simple Example</a>-->
               <!--<a href="modal-onload-iframe.html" class="button button-mini button-rounded button-dark">Video iFrame</a>-->
               <!--<a href="modal-onload-subscribe.html" class="button button-mini button-rounded button-dark">Subscription Form</a>-->
               <!--<a href="modal-onload-common-height.html" class="button button-mini button-rounded button-dark">Common Height</a>-->
               <!--<a href="modal-onload-cookie.html" class="button button-mini button-rounded button-dark">Cookie Enabled</a>-->
            </div>

            <div class="modal-on-load" data-target="#myModal1"></div>
         </div>
      </div>

      <div class="copy_body_fi">
         <div class="center">
            <div class="center">
               <a href="#myModal2" data-lightbox="inline" class="i-rounded i-bordered icon-download"></a>
               <!--<a href="modal-onload.html" class="button button-mini button-rounded button-dark">Simple Example</a>-->
               <!--<a href="modal-onload-iframe.html" class="button button-mini button-rounded button-dark">Video iFrame</a>-->
               <!--<a href="modal-onload-subscribe.html" class="button button-mini button-rounded button-dark">Subscription Form</a>-->
               <!--<a href="modal-onload-common-height.html" class="button button-mini button-rounded button-dark">Common Height</a>-->
               <!--<a href="modal-onload-cookie.html" class="button button-mini button-rounded button-dark">Cookie Enabled</a>-->
            </div>

            <div class="modal-on-load" data-target="#myModal2"></div>
         </div>
      </div>

      <div class="copy_body_fi">
         <div class="center">

            <div data-layout="button_count" data-href="http://localhost:3000/">
               <span href="#" class="social-icon si-colored si-facebook" title="Facebook">
                  <!-- href 에 url-->
                  <a class="fb-xfbml-parse-ignore" target="_blank"
                     href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
                     <i class="icon-facebook"></i>
                     <i class="icon-facebook"></i>
                  </a>
               </span>
            </div>
         </div>
      </div>


      <div class="copy_body_fi">
         <div class="center">
         <span href="#" class="social-icon si-colored si-aim" title="Aim">
            <a id="kakao-link-btn" href="javascript:sendLink()">
               <img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/>
            </a>
            <!--<a href="javascript:shareStory()">-->
               <!--<img src="https://dev.kakao.com/sdk/js/resources/story/icon_small.png"/>-->
            </a>
         </span>
         </div>
      </div>


      <div class="copy_body_fi">
         <div class="center">

            <a href="#">
        <span>
	         <script type="text/javascript">
	            new ShareBand.makeButton({"lang": "ko", "type": "d"});
	         </script>
         </span>
            </a>
         </div>
      </div>


   </div>


   <noscript>
      <table style="width:100%;height:100%;">
         <tr style="vertical-align:middle;text-align:center;">
            <td>ERROR:<b><br>Javascript not activated<br><br></td>
         </tr>
      </table>
   </noscript>

</div>

<!--Copy url-->
<div class="modal1 mfp-hide" id="myModal1">
   <div class="block divcenter" style="background-color: #FFF; max-width: 500px;">
      <div class="center" style="padding: 50px;">
         <h3>Share url !</h3>
         <p class="nobottommargin">
            <input type="text" id="copyTarget" value="http://locahost:3000/post/embed">
            <button id="copyButton">Copy</button>
            <br><br>
         </p>
      </div>
      <div class="section center nomargin" style="padding: 30px;">
         <a href="#" class="button" onClick="$.magnificPopup.close();return false;">Close</a>
      </div>
   </div>
</div>

<!--Embed-->
<div class="modal1 mfp-hide" id="myModal2">
   <div class="block divcenter" style="background-color: #FFF; max-width: 500px;">
      <div class="center" style="padding: 50px;">
         <h3>Adjust</h3>
         <p class="nobottommargin">
            <select class="selectpicker" id="e_height">
               <option> Select height</option>
               <option id="small" value=""> Small</option>
               <option id="medium" value="600px">Medium</option>
               <option id="big" value="900px">Big</option>
               <option id="custom">Custom</option>
            </select>
            <br>
         <div id="customm" style="display: none;"> Custom height :
            <input type="text" style="width: 8pc;" id="custom_value"></div>
         </br></br>
         <input type="text" id="embedCopy" value="">
         <button id="copyButton2">Copy</button>
         <br><br>
         </p>
      </div>
      <div class="section center nomargin" style="padding: 30px;">
         <a href="#" class="button" onClick="$.magnificPopup.close();return false;">Close</a>
      </div>
   </div>
</div>

<!-- Copy script -->
<script>
   //   document.getElementById("copyButton").addEventListener("click", function() {
   //      copyToClipboard(document.getElementById("copyTarget"));
   //   });

   document.getElementById("copyButton2").addEventListener("click", function () {
      var elem = document.getElementById("embedCopy") || $("#embedCopy")[0];
      copyToClipboard(elem);
   });

   function copyToClipboard(elem) {
      // create hidden text element, if it doesn't already exist
      var targetId = "_hiddenCopyText_";
      var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
      var origSelectionStart, origSelectionEnd;
      if (isInput) {
         // can just use the original source element for the selection and copy
         target = elem;
         origSelectionStart = elem.selectionStart;
         origSelectionEnd = elem.selectionEnd;
         alert('Copied');
      } else {
         // must use a temporary form element for the selection and copy
         target = document.getElementById(targetId);
         if (!target) {
            var target = document.createElement("textarea");
            target.style.position = "absolute";
            target.style.left = "-9999px";
            target.style.top = "0";
            target.id = targetId;
            document.body.appendChild(target);
         }
         target.textContent = elem.textContent;
      }
      // select the content
      var currentFocus = document.activeElement;
      target.focus();
      target.setSelectionRange(0, target.value.length);

      // copy the selection
      var succeed;
      try {
         succeed = document.execCommand("copy");
      } catch (e) {
         succeed = false;
      }
      // restore original focus
      if (currentFocus && typeof currentFocus.focus === "function") {
         currentFocus.focus();
      }

      if (isInput) {
         // restore prior selection
         elem.setSelectionRange(origSelectionStart, origSelectionEnd);
      } else {
         // clear temporary content
         target.textContent = "";
      }
      return succeed;
   }
</script>
<!-- Embed script-->
<script>

   $('#e_height').on('change', function (e) {
      var selectedOption = $("option:selected", this);
      var selectedValue = this.value;

//      var e_h = document.getElementById("e_height");
      var e_c = document.getElementById("embedCopy");
      var embedText = '<iframe src="http://localhost:3000/post/embed/:ID" style="width:100%; height:300px;">';

      e_c.value = selectedValue;
//
//      if(selectedValue === "small"){
//        var tt= '<iframe src="http://localhost:3000/post/embed/:ID" style="width:100%; height:300px;">';
//
//         document.getElementById("copyButton2").addEventListener("click", function() {
//            copyToClipboard(tt);
//         });
//      }


      var small = document.getElementById(small);

      if (small) {
         $("#embedCopy").val(tt);
      }

      if (selectedValue === "Custom") {
         document.getElementById("customm").style.display = "block";
      } else {
         document.getElementById("customm").style.display = "none";
      }
   });


   //   $( "#e_height option" ).on("click", function (e) {
   //
   //         var e_h = document.getElementById("e_height");
   //         var e_c = document.getElementById("embedCopy");
   //         e_c.value = e_h.options[e_h.selectedIndex].value;
   //      });

   //   function customy(){
   //      document.getElementById("customm").style.display="block";
   //   }

   //   function embed(e){
   //      var e_h = document.getElementById("e_height");
   //      var e_c = document.getElementById("embedCopy");
   //      e_c.value = e_h.options[e_h.selectedIndex].value;
   //   }

</script>
<noscript>
   <table style="width:100%;height:100%;">
      <tr style="vertical-align:middle;text-align:center;">
         <td>ERROR:<br><br>Javascript not activated<br><br></td>
      </tr>
   </table>
</noscript>
<script>
   //이미지가 저장된 장소를 images에 저장했음
   //수정할 것 : id값에 따라 서버에서 값을 가져오는 방향으로 수정해야함
   var images = '{"statusCode":1,"originalImage":["SAM_100_0073.jpg","SAM_100_0074.jpg","SAM_100_0075.jpg"],"baseDir":"medias/vtours/sinho0689@gmail.com/123456123456","vtourDir":"","xmlName":"tour.xml","swfName":"tour.swf","jsName":"tour.js","tiles":[{"dir":"images/buildCaseInfo/sinho0689@gmail.com/1474261771026/vtour/panos/SAM_100_0008.tiles","previewImageName":"thumb.jpg","previewImagePath":"images/buildCaseInfo/sinho0689@gmail.com/1474261771026/vtour/panos/SAM_100_0008.tiles/thumb.jpg"},{"dir":"images/buildCaseInfo/sinho0689@gmail.com/1474261771026/vtour/panos/SAM_100_0009.tiles","previewImageName":"thumb.jpg","previewImagePath":"images/buildCaseInfo/sinho0689@gmail.com/1474261771026/vtour/panos/SAM_100_0009.tiles/thumb.jpg"}]}'
   var VRImages = JSON.parse(this.images);
   console.log(VRImages);
   //resource에 있는 vr사진을 가져옴
   embedpano({
      swf: "/lib/krpano-1.19-pr6-viewer/krpano-tour.swf",
      xml: ['<%= mediaUrl %>', this.VRImages.baseDir, this.VRImages.xmlName].join('/'),
      target: "pano", html5: "auto", mobilescale: 1.0, passQueryParameters: true
   });
</script>

<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>
</body>
</html>
