/* Variables */
$pc: 'min-width: 992px';
$tm: 'max-width: 991px'; // Tablet + Mobile
$mobile: 'max-width: 479px';
$color: #3498db; // 주색상 (푸른색)
$weak: #999; // 흐린 글씨
$border-color: #F5F5F5; // 회색선
$box-color: #F5F5F5; // 회색박스



/* Extend  */
.noto {font-family: 'Noto Sans', sans-serif;}
.box-shadow {box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}



/* Animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



/* Default */
html {
  overflow-y: scroll;
  height: 100% !important;
  &.hasPopup {overflow-y: hidden;}
}
body {
  @extend .noto;
  height: 100%;
  &#index main,
  &#sub-full main,
  &#sub main {
    padding-bottom: 50px;
    @media ($tm) {
      padding-bottom: 40px;
    }
  }
}
input[type=text],
textarea {
  appearance: none;
}
input[type=text]::-ms-clear {
  display: none;
}
#wrapper {
  width: 100%;
  height: 100%;
}
body#sub main {
  @media ($pc) {
    padding-top: 50px;
    min-height: calc(100% - 60px - 160px);
  }
  @media ($tm) {
    padding-top: 40px;
    min-height: calc(100% - 60px);
  }
}



/* Layout */

// 헤더
#header {
  .container {line-height: 0;}
  .container #primary-menu {line-height: 1.5;}
  &.full-header {border-bottom: 0;}
  #header-wrap {box-shadow: 0 0 10px rgba(0,0,0,0.1)}
  #primary-menu {
    ul > li > a { // 대메뉴
      @extend .noto;
      font-size: 14px;
      letter-spacing: 0;
    }
    .quick-menu { // 우측 퀵메뉴
      float: right;
      #top-account,
      #top-notification,
      #top-search {
        float: right;
        margin: 15px 5px 0 !important;
        > a {
          display: block;
          position: relative;
          width: 24px;
          height: 24px;
          padding: 5px;
          font-size: 16px;
          line-height: 20px;
          box-sizing: border-box;
          text-align: center;
          color: #333;
          transition: color .3s ease-in-out;
        }
        > a i {
          left: 4px;
          top: 4px;
        }
      }
      #top-notification {
        > a > span {
          display: block;
          position: absolute;
          top: -2px;
          left: auto;
          right: -7px;
          font-size: 10px;
          color: #FFF;
          text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
          width: 16px;
          height: 16px;
          line-height: 16px;
          text-align: center;
          background-color: #1ABC9C;
          border-radius: 50%;
        }
      }
      #top-search {
        form input {
          @extend .noto;
          height: 60px;
          font-size: 20px;
          letter-spacing: 0;
          &::placeholder {color: #ccc;}
        }
      }
      span.twitter-typeahead { display: block !important; }
      .tt-menu {
        width: 100%;
        margin: 0;
        padding: 8px 0;
        background-color: #FFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0;
        box-shadow: 0 1px 10px rgba(0,0,0,.1);
      }
      .tt-hint {color: #ccc;}
      .tt-suggestion {
        padding: 3px 20px;
        font-size: 15px;
        line-height: 24px;
      }
      .tt-suggestion:hover {
        cursor: pointer;
        color: #FFF;
        background-color: #0097cf;
      }
      .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;
      }
    }
  }
}

// 헤더 PC 버전 조정
@media ($pc) {
  #header,
  #header-wrap,
  #logo img {height: 60px;}
  #primary-menu {
    ul > li > a {
      padding-top: 19px;
      padding-bottom: 19px;
    }
  }
}

// 헤더 모바일 버전 조정
@media ($tm) {
  #wrapper #header { // 테마에 important 속성이 많아 wrapper 선언을 통해 스타일 우선순위를 가장 상위로 적용
    text-align: center !important;
    .container {padding: 0 15px !important;}
    #logo {
      display: inline-block !important;
      width: auto !important;
      height: 60px !important;
      margin: 0 auto !important;
      text-align: center !important;
      a {display: inline-block !important;}
      img {height: 60px !important;} 
    }
    #primary-menu-trigger {
      top: 5px !important;
      font-size: 18px !important;
    }
    #primary-menu {
      ul > li > a {
        text-align: center !important;
        letter-spacing: 0 !important;
      }
      .quick-menu {
        position: absolute !important;
        right: 15px !important;
        top: 0 !important;
        width: calc(100% - 30px);
        #top-account,
        #top-notification,
        #top-search {
          position: relative !important;
          top: auto !important;
          right: auto !important;
          bottom: auto !important;
          left: auto !important;
          float: right !important;
          margin: 15px 0 0 4px !important;
          > a {
            top: auto !important;
            right: auto !important;
            bottom: auto !important;
            left: auto !important;
            display: block !important;
            margin: 0 !important;
          }
          > a i {
            left: 5px !important;
            top: 5px !important;
          }
        }
        #top-notification {
          position: static !important;
        }
        #top-search {
          position: static !important;
        }
      }
    }
  }
}

// 헤더 알림 영역
body:not(.top-search-open) #top-notification {
  opacity: 1;
  transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
}
body.top-search-open #top-notification {opacity: 0;}
#top-notification {
  border-top-color: #3EA98D;
  &.top-notification-open .top-notification-content {
    opacity: 1;
    z-index: 11;
    margin-top: 0;    
  }
  .top-notification-content {
    opacity: 0;
    z-index: -2;
    position: absolute;
    width: 290px;
    background-color: #FFF;
    box-shadow: 0 20px 50px 10px rgba(0,0,0,.05);
    border: 1px solid #EEE;
    border-top: 2px solid #1ABC9C;
    top: 60px;
    right: 0;
    left: auto;
    margin: -10000px 0 0;
    transition: opacity .5s ease,top .4s ease;
  }
  .top-notification-title { // 타이틀
    padding: 8px 10px;
    text-align: left;
    h4 {
      margin: 0;
      font-size: 13px;
    }
  }
  .top-notification-items { // 알림 리스트
    overflow-y: auto;
    max-height: 250px;
    .top-notification-item {
      &:hover {background-color: $border-color;}
      display: table;
      width: 100%;
      border-top: 1px solid $border-color;
      font-size: 12px;
      line-height: 16px;
      a {
        display: table-row;
        color: #333;
      }
      a > span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;      
      }
      .photo {
        width: 45px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
      .info {
        height: 40px;
        padding: 10px 0;
        text-align: left;
      }
      .date {
        width: 45px;
        font-size: 11px;
        color: $weak;
        img {width: 30px;max-height: 30px;}
      }
    }
  }
  .more { // 더보기
    display: block;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid $border-color;
    color: $color;
    text-align: center;
    font-size: 13px;
  }
}

// 푸터
#footer {
  height: 160px;
  border-top: none;
  background-color: $box-color;
  #copyrights {
    padding: 30px 0;
    background-color: transparent;
    color: $weak;
    .logo {
      float: left;
      width: 50%;
      img {
        height: 60px;
        margin-bottom: 0;
      }
    }
    .copyrights {
      float: left;
      width: 50%;
    }
    .menu {
      float: right;
      width: 50%;
      margin: 15px 0 0;
      text-align: right;
      .copyrights-menu a {
        color: #666;
        position: relative;
        &:hover {color: $color;}
        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          left: -12px;
          top: 50%;
          margin-top: -4px;
          width: 1px;
          height: 10px;
          background-color: #ccc;
        }
        &:first-child:before {display: none;}
      }
      .social-icon {
        display: inline-block;
        float: none;
      }
    }
  }
  @media ($tm) {
    height: auto;
    #copyrights {
      padding: 20px 0 30px;
      text-align: center;
      .logo {
        float: none;
        width: 100%;
        margin-bottom: 15px;
      }
      .menu {
        float: none;
        width: 100%;
        margin: 0 0 15px;
        text-align: center;
      }
      .copyrights {
        float: none;
        width: 100%;
      }
    }
  }
}



/* Template 변경 */
@media ($tm) {
  .container {width: 100% !important;}
}
h1, h2, h3, h4, h5, h6 {@extend .noto;}

// 애니메이션 삭제
.button, // 버튼
.flex-viewport { // 슬라이더
  transition: none !important;
}
.social-icon:hover i:first-child {margin-top: 0 !important;}
.nav {margin-bottom: 30px !important;}

// 버튼
.si-share {padding-left: 0;}
.button,
.social-icon {border-radius: 4px;}
.si-rounded {
  border-radius: 50%;
}
.button:hover {background-color: #3498db;}
.button.button-border:not(.button-fill):hover {
  background-color: #fff !important;
  border-color: #444 !important;
  color: #333 !important;
}
.button-red:hover {background-color: #C02942;}
.button-teal:hover {background-color: #53777a;}
.button-yellow:hover {background-color: #ecd078;}
.button-green:hover {background-color: #59ba41;}
.button-brown:hover {background-color: #774f38;}
.button-aqua:hover {background-color: #40c0cb;}
.button-lime:hover {background-color: #aee239;}
.button-purple:hover {background-color: #5d4157;}
.button-leaf:hover {background-color: #a8caba;}
.button-pink:hover {background-color: #f89fa1;}
.button-blue:hover {background-color: #1265a8;}
.button-dirtygreen:hover {background-color: #1693a5;}
.button-amber:hover {background-color: #eb9c4d;}
.button-black:hover {background-color: #111;}
.button-white:hover {background-color: #fff;}

.si-kakao {background-color:#f2d60a;}
.icon-kakao {
  width: 30px;
  height: 30px;
  background: url('/images/social_kakao.png') 0 0 no-repeat;
  background-size: 30px 30px;
  font-size: 0;
}
.si-line {background-color:#3dd037;}
.icon-line {
  width: 30px;
  height: 30px;
  background: url('/images/social_line.png') 0 0 no-repeat;
  background-size: 30px 30px;
  font-size: 0;
}
.si-blog {background-color:#00ce38;}
.icon-blog {
  width: 30px;
  height: 30px;
  background: url('/images/social_blog.png') 0 0 no-repeat;
  background-size: 30px 30px;
  font-size: 0;
}
.si-band {
  position: relative;
  background-color:#3dd037;
  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    opacity: 0.01;
  }
}
.icon-band {
  width: 30px;
  height: 30px;
  background: url('/images/social_band.png') 0 0 no-repeat;
  background-size: 30px 30px;
  font-size: 0;
}
.si-copy {background-color:#555;}
.icon-copy:before {
  content: "\e769";
}
.si-website {background-color:#555;}
.icon-website:before {
  font-family: "lined-icons";
  content: "\e078";
}

// 주소검색
.address {
  input {
    float: left;
    width: calc(50% - 50px);
  }
  button {
    float: left;
    width: 100px;
    height: 41px;
    display: inline-block;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid $color;
    color: $color;
    font-size: 14px;
    font-weight: bold;
  }
  @media ($mobile) {
    input, button {width: 100%;}
  }
}
.profile .address {
  input:nth-of-type(1) {
    float: left;
    width: 100px;
  }
  input:nth-of-type(2),
  input:nth-of-type(3) {
    width: calc(50% - 100px);
  }
  @media ($mobile) {
    input:nth-of-type(1), button {width: 50%;}
    input:nth-of-type(2),
    input:nth-of-type(3) {
      width: 100%;
    }
  }
}



/* Index */
body#index {
  section {
    margin-bottom: 50px;
    @media ($tm) {
      margin-bottom: 40px;
    }
    &:last-child {margin-bottom: 0;}
  }
  #slider {
    @media ($tm) {
      .container {padding: 0;}
    }
  }
  #promotion {
    .promo {
      margin-top: -30px;
      background-color: #fff;
    }
    @media ($tm) {
      text-align: center;
      .promo {padding: 15px 20px !important;}
      .promo h3 {font-size: 16px;}
      .promo h3 span:nth-child(2) {display:none;}
      .promo > span {
        font-size: 14px;
        word-break: keep-all;
      }
      .button {
        margin: 10px 0 0 !important;
        padding: 0 17px;
        font-size: 12px;
        height: 34px;
        line-height: 34px;
      }
    }
  }
}



/* Sub - Full page (without footer) */
body#sub-full {
  #wrapper {height: 100%;}
  main {
    width: 100%;
    height: calc(100% - 60px;);
  }
  #footer {display: none;}
}



/* 로딩 */
.loading {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 3px;
  line-height: 48px;
  font-size: 24px;
  color: #FFF;
  text-align: center;
}



/* Popup */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  h4 {margin-bottom: 20px;}
  &.mfp-copy {
    .col_full {margin-bottom: 20px;}
    label {display:block;}
    input[type="text"] {
      float: left;
      width: calc(100% - 70px);
    }
    button {
      float: left;
      width: 70px;
      margin: 0;
      padding: 0;
      height: 41px;
      border-radius: 0;
    }
  }
}
#popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  outline: none !important; 
  > div {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 1000px;
    margin: 20px auto;
    .mfp-close {color:#333;}
  }
}



/* 로그인 */
#login-container {
  position: relative;
  form {max-height: none;}
  .auth0-lock.auth0-lock {
    @extend .box-shadow;
    z-index: 10;
    width: 300px;
  }
}



/* 슬라이더 */
@media ($tm) {
  .fslider {
    .flex-prev {
      transform: scale(0.7);
      transform-origin: 0 50%;
    }
    .flex-next {
      transform: scale(0.7);
      transform-origin: 100% 50%;
    }
  }
}



/* 댓글 */
.clist {
  .commentlist {
    margin-bottom: 0;
    padding-bottom: 40px;
    li {
      animation: fadeIn .4s;
      transform-origin: 50% 50%; 
    }
    .comment-author span {
      @extend .noto;
      font-style: normal;
    }
    .comment-reply-link {
      top: 2px;
      width: auto;
      height: auto;
      .button {
        width: 60px;
        margin: 0 2px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
    }
  }
  .clist-more a {
    padding: 10px;
    background-color: #fff;
    box-shadow: none;
    border-color: $color;
    color: $color;
    font-weight: bold;
    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
      box-shadow: none;
      border-color: $color;
    }
  }
}



/* VR 리스트 */
.vlist {
  .vlist-menu-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    clear: both;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;
    .vlist-menu {
      width: calc(100% + 20px);
      margin: 0 0 0 -20px;
      border: none;
      .vlist-menu-item {
        float: left;
        width: 10%;
        &.activeFilter a {
          background-color: $color;
          color: #fff;
        }
        a {
          display: block;
          margin-left: 20px;
          padding: 10px 0;
          background-color: $box-color;
          border-radius: 5px;
          text-align: center;
          color: #333;
          white-space: nowrap;
          i {
            display: block;
            width: 24px;
            height: 24px;
            margin: 0 auto 10px;
            font-size: 24px;
          }
        }
      }
    }
    @media ($tm) {
      .vlist-menu {
        width: calc(100px * 10);
        .vlist-menu-item {width: 100px;}
      } 
    }
  }
  .vlist-content {
    margin: 0 -20px -30px 0;
    .portfolio-item {
      padding: 0 20px 30px 0;
      .portfolio-image,
      .slide img {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }
      .portfolio-desc {
        padding: 15px 15px;
        // background-color: $box-color;
        border: 1px solid #ddd;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        .author {
          display: block;
          margin-bottom: 5px;
          a {
            font-size: 16px;
            color: #333;
            &:hover {color: $color;}
          }
          img {
            display: inline-block !important;
            height: 16px !important;
            margin: -2px 0 0 !important;
            vertical-align: middle !important;
          }
        }
        .info {
          margin-top: 5px;
          span {color: #777;}
          .heart {
            float: right;
            margin-left: 10px;
          }
          .date {
            float: left;
            color: $weak;
          }
          .comment {float: right;}
        }
      }
    }
  }
  .vlist-more a {
    margin-top: 30px;
    padding: 10px;
    background-color: #fff;
    box-shadow: none;
    border-color: $color;
    color: $color;
    font-weight: bold;
    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
      box-shadow: none;
      border-color: $color;
    }
  }
  @media ($mobile) {
    .vlist-content {
      margin: 0 0 -30px 0;
      .portfolio-item {padding-right: 0;}
    }
  }
}



/* VR 뷰 */
.vview {
  h4 {margin-bottom: 20px;}
  .line {
    margin: 40px 0;
  }
  .si-share {
    float: none;
    padding: 0;
    text-align: right;
    line-height: 1;
    .social-icon {
      display: inline-block;
      float: none;
    }
  }
  .entry {
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
  .vview-info {
    margin-bottom: 20px;
    .entry-meta {
      float: left;
      width: 50%;
      margin: 0;
      padding: 10px 0;
      * {font-style: normal;}
      li {
        @extend .noto;
        margin-bottom: 0;
      }
      i {
        margin-top: -2px;
        vertical-align: middle;      
      }
      img {
        height: 16px;
        margin: -2px 0 0;
        vertical-align: middle;
      }
    }
    .si-share {
      float: right;
      width: 50%;
    }
    @media ($tm) {
      .entry-meta {
        clear: both;
        overflow: hidden;
        float: none;
        width: 100%;
        padding-bottom: 20px;
      }
      .si-share {
        float: none;
        width: 100%;
        text-align: right;
      }
    }
  }
  .vview-content {
    .vr-image {
      .boot-tabs {margin-bottom: 30px !important;}
      margin-bottom: 40px;
    }
    .map {
      .col_half {margin-bottom: 40px;}
      .daum-map,
      .daum-roadview {
        height: 400px;
        @media ($mobile) {
          height: 300px;
        }
      }
    }
  }
  .vview-button {
    margin: -30px 0 40px;
    text-align: center;
  }
  .vview-author-info {
    margin-bottom: 40px;
    h3 {
      a {color: $color;}
      img {
        height: 16px;
        margin: -2px 0 0;
        vertical-align: middle;
      }
    }
    .author-content {
      margin-bottom: 10px;
    }
    .si-share {
      clear: both;
      text-align: right;
    }
  }
  #comments {
    margin-top: 40px;
    padding-top: 40px;
    .col_full {margin-bottom: 20px;}
  }
}



/* VR 쓰기 */
.vwrite {
  .write-button {text-align: center;}
  .dropzone {
    display:table-cell;
    width: 9999px;
    height: 300px;
    border: 3px dashed #ddd;
    border-radius:10px;
    vertical-align: middle;
    text-align: center;
    @media ($tm) {
      display:none;
    }
  }
  .file {margin: 10px 0 30px;}
  table {border-callapse: collapse;}
  table tbody.files {
    td {
      width: 25%;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
      vertical-align: middle;
      * {margin: 0;}
      &:nth-of-type(1) {
        text-align: center;
      }
      &:nth-of-type(2) {
        text-align: left; 
      }
      &:nth-of-type(3) {
        text-align: center;
      }
      &:nth-of-type(4) {
        padding-right: 10px;
        text-align: right;
      }
    }
  }
  #daum-map {
    overflow: hidden;
    width: 100%;
    height: 217px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}



/* 지도로 보기 */
#map-container {
  position: relative;
  width: 100%;
  .map {
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 10;
    width: 35%;
    height: calc(100% - 60px;);
    #google-map,
    #map {width: 100%;height: 100%;}
  } 
  .vlist {
    width: 65%;
    min-height: 100%;
    padding: 30px;
    .vlist-more {display: none;}
  }
  .control {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 20px;
    z-index: 201;
    transform: translate(-50%, 0);
  }
  @media (max-width: 1599px) and (min-width: 1200px) {
    .vlist-menu {
      width: calc(100% + 10px);
      margin: 0 0 0 -10px;
      .vlist-menu-item {
        a {margin-left: 10px;}
      }
    }
    .portfolio-item {width: 50%;}
  }
  @media (max-width: 1199px) {
    .control {display: block;}
    .map {
      opacity: 0;
      z-index: -10;
      top: 0;
      width: 100%;
      height: 100%;
      &.active {
        opacity: 1;
        z-index: 200;
      }
    }
    .vlist {
      overflow: visible;
      width: 100%;
      height: auto;
    }
  }
}



/* 프로필*/
.profile {

}
.heading-block.info {
  > span {
    span {margin-right: 15px;}
    i {
      margin: -3px 0 0;
      vertical-align: middle;
    }
  }
  .contact {
    clear: both;
    margin: 15px 0 0;
    text-align: center;
    .social-icon {
      display: inline-block;
      float: none;
      &:hover {background-color: rgba(0,0,0,0.05) !important;}
    }
  }
  .panel-default {
    clear: both;
    margin: 15px 0 0;
    .author-content {
      margin-bottom: 10px;
    }
    .si-share {
      clear: both;
      text-align: right;
      .social-icon {
        display: inline-block;
        float: none;
      }
    }
  }
}



/* 유저정보 */
.user {
  @media ($mobile) {
    .nav > li {
      width: 20%;
    }
    .nav > li > a {
      width: 100%;
      padding: 10px 0;
      white-space: nowrap;
      text-align: center;
    }
  }
}
.ulist {
  .commentlist {
    margin-bottom: 0;
    padding-bottom: 40px;
    li {
      animation: fadeIn .4s;
      transform-origin: 50% 50%; 
      p {margin: 0;}
    }
    .comment-avatar {top: 5px;}
    .comment-author {
      margin-bottom: 0;
      padding: 8px 0;
      span {
        @extend .noto;
        font-style: normal;
      }
    }
    .comment-reply-link {
      top: 2px;
      width: auto;
      height: auto;
      .button {
        width: 60px;
        margin: 0 2px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
    }
  }
  .ulist-more a {
    padding: 10px;
    background-color: #fff;
    box-shadow: none;
    border-color: $color;
    color: $color;
    font-weight: bold;
    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
      box-shadow: none;
      border-color: $color;
    }
  }
}