<!DOCTYPE html>
<html lang="ko">
<head>
   <% include static/head.ejs %>
</head>
<body class="stretched">
  <!-- HEADER -->
  <% include addon/header.ejs %>

  <!-- FOOTER -->
  <% include addon/footer.ejs %>

   <!-- LOAD JAVASCRIPT -->
   <% include static/js.ejs %>
</body>
</html>
