<!DOCTYPE html>
<html lang="ko">



<head>
   <% include static/head.ejs %>
</head>



<body class="stretched side-push-panel">


<div id="wrapper" class="clearfix">






   <!-- HEADER -->
   <% include addon/header2.ejs %>






   <!-- Slider
        ============================================= -->
   <section id="slider" class="boxed-slider">

      <div class="container clearfix">

         <div class="fslider" data-easing="easeInQuad">
            <div class="flexslider">
               <div class="slider-wrap">
                  <div class="slide" data-thumb="/lib/js-canvas/images/slider/boxed/thumbs/2.jpg">
                     <a href="#">
                        <img src="/lib/js-canvas/images/slider/boxed/2.jpg" alt="Slide 2">
                        <div class="flex-caption slider-caption-bg">Responsive Ready Design</div>
                     </a>
                  </div>
                  <div class="slide" data-thumb="/lib/js-canvas/images/slider/boxed/thumbs/3.jpg">
                     <a href="#">
                        <img src="/lib/js-canvas/images/slider/boxed/3.jpg" alt="Slide 3">
                        <div class="flex-caption slider-caption-bg slider-caption-bg-light slider-caption-top-left">Retina Graphics Display</div>
                     </a>
                  </div>
                  <div class="slide" data-thumb="/lib/js-canvas/images/slider/boxed/thumbs/4.jpg">
                     <a href="#">
                        <img src="/lib/js-canvas/images/slider/boxed/4.jpg" alt="Slide 4">
                        <div class="flex-caption slider-caption-bg slider-caption-top-right">Bootstrap 3+ Compatible</div>
                     </a>
                  </div>
                  <div class="slide" data-thumb="/lib/js-canvas/images/slider/boxed/thumbs/5.jpg">
                     <a href="#">
                        <img src="/lib/js-canvas/images/slider/boxed/5.jpg" alt="Slide 5">
                        <div class="flex-caption slider-caption-bg slider-caption-bg-light slider-caption-bottom-right">eCommerce Design Included</div>
                     </a>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </section>







   <section id="content">

      <div class="content-wrap">

         <div class="promo promo-border promo-full bottommargin">
            <div class="container clearfix">
               <h3>세상과의 소통 <span>Vgram</span>에서 시작합니다.<span>Vgram.co.kr</span></h3>
               <span> Vgram과 함께 하실 사업자 분들의 연락을 기다리고 있습니다.</span>
               <a href="#" class="button button-xlarge button-rounded">회원가입</a>
            </div>
         </div>

         <div class="container clearfix">





            <!-- Portfolio Filter
                 ============================================= -->
            <ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">

               <li class="activeFilter"><a href="#" data-filter="*">모두보기</a></li>
               <li><a href="#" data-filter=".pf-icons">이벤트</a></li>
               <li><a href="#" data-filter=".pf-illustrations">컨텐츠</a></li>
               <li><a href="#" data-filter=".pf-uielements">여행</a></li>
               <li><a href="#" data-filter=".pf-media">디자인</a></li>
               <li><a href="#" data-filter=".pf-graphics">감성</a></li>

            </ul><!-- #portfolio-filter end -->

            <div id="portfolio-shuffle" class="portfolio-shuffle" data-container="#portfolio">
               <i class="icon-random"></i>
            </div>
            <div class="clear"></div>





            <!-- Portfolio Items
     ============================================= -->
            <div id="portfolio" class="portfolio grid-container portfolio-3 portfolio-masonry clearfix">



               <article class="portfolio-item pf-media pf-icons">
                  <div class="portfolio-image">
                     <a href="portfolio-single.html">
                        <img src="/images/SH.png" alt="Open Imagination">
                     </a>
                     <div class="portfolio-overlay">
                        <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                        <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                     </div>
                  </div>
                  <div class="testimonial">
                     <div class="testi-image">
                        <a href="#"><img src="/lib/js-canvas/images/icons/avatar.jpg" alt="Customer Testimonails"></a>
                     </div>
                     <div class="testi-meat"><p style=" margin-bottom:0px;">nickname</p></div>
                     <div class="portfolio-desc">
                        <h3><a href="portfolio-single.html">Open Imagination</a></h3>
                        <span><a href="#">Media</a>, <a href="#">Icons</a></span>
                     </div>
                     <ul class="entry-meta clearfix">
                        <li><i class="icon-line-heart"></i><span>좋아요 개수</span></li>
                        <li><i class="icon-calendar3"></i>년/월/일</li>
                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i>댓글 개수</a></li>
                     </ul>
                  </div>
               </article>



               <article class="portfolio-item pf-graphics pf-illustrations">
                  <div class="portfolio-image">
                     <div class="fslider" data-arrows="false">
                        <div class="flexslider">
                           <div class="slider-wrap">
                              <div class="slide"><a href="portfolio-single-gallery.html"><img src="/images/SH.png" alt="Shake It"></a></div>
                              <div class="slide"><a href="portfolio-single-gallery.html"><img src="/images/SH.png" alt="Shake It"></a></div>
                              <div class="slide"><a href="portfolio-single-gallery.html"><img src="/images/SH.png" alt="Shake It"></a></div>
                              <div class="slide"><a href="portfolio-single-gallery.html"><img src="/images/SH.png" alt="Shake It"></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="portfolio-overlay" data-lightbox="gallery">
                        <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                        <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                        <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                        <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                        <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                     </div>
                  </div>
                  <div class="testimonial">
                     <div class="testi-image">
                        <a href="#"><img src="/lib/js-canvas/images/icons/avatar.jpg" alt="Customer Testimonails"></a>
                     </div>
                     <div class="testi-meat"><p style=" margin-bottom:0px;">nickname</p></div>
                     <div class="clear"></div>
                     <div class="portfolio-desc">
                        <h3><a href="portfolio-single.html">Open Imagination</a></h3>
                     </div>
                     <ul class="entry-meta clearfix">
                        <li><i class="icon-line-heart"></i><span>좋아요 개수</span></li>
                        <li><i class="icon-calendar3"></i>년/월/일</li>
                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i>댓글 개수</a></li>
                     </ul>
                  </div>
               </article>

            </div><!-- #portfolio end -->




         </div>

      </div>
   </section><!-- #content end -->
   </section>  <!-- content section -->
</div>  <!-- wrapper.clearfix -->


<div id="load-next-posts" class="center">
  <a href="/post/room/html/2" class="button button-full button-dark button-rounded">Load more...</a>
</div>





<footer>
   <!-- FOOTER -->
   <% include addon/footer.ejs %>
</footer>





<!-- LOAD JAVASCRIPT -->
   <% include static/js.ejs %>

<div id="gotoTop" class="icon-angle-up"></div>
<script>
   jQuery(function($) {
      function getAjax(link) {
         $.ajax({
            url: window.location.href.split('#')[0] + '/json/' + link,
            success: function(result) {
               console.log(result);
               $('#tab-' + link).html(new EJS({url: '/template/user/info-' + link + '.ejs'}).render({data: result}));
            }
         });
      }

      $('.tab-nav li a').click(function() {
         let link = $(this).attr('href').split('-')[1];
         getAjax(link);
      });

			var $container = $('#portfolio');

			$container.infinitescroll({
				loading: {
					finishedMsg: '<i class="icon-line-check"></i>',
					msgText: '<i class="icon-line-loader icon-spin"></i>',
					img: "images/preloader-dark.gif",
					speed: 'normal'
				},
				state: {
					isDone: false
				},
				nextSelector: "#load-next-posts a",
				navSelector: "#load-next-posts",
				itemSelector: "article.portfolio-item",
				behavior: 'portfolioinfiniteitemsloader'
			},
			function( newElements ) {
				$container.isotope( 'appended', $( newElements ) );
				var t = setTimeout( function(){ $container.isotope('layout'); }, 2000 );
				SEMICOLON.widget.loadFlexSlider();
        SEMICOLON.portfolio.arrange();
			});


	
   });
</script>
</body>
</html>
