.top-links > ul > li > a {
   color: #444 !important;
}

.center > ul > li {
   display: inline-block;
}

.testi-image, .testi-image a, .testi-image img, .testi-image i {
   display: block;
   width: 32px;
   height: 32px;
}
