@charset "UTF-8";
/*
  CSS 작성 팁 :
  기본적인 UI는 템플릿 요소 혹은 해당 라이브러리 요소를 최대한 사용하고 부족한 부분을 CSS로 보완하는 방식으로 작업합니다
  보완하는 스타일 요소는 CSS의 우선순위 룰을 생각하여 템플릿 스타일보다 우선시하어 적용시키면 되겠습니다 (https://opentutorials.org/module/484/4149)
  템플릿 요소나 라이브러리 요소가 없는 경우 검색을 통하여 비슷한 샘플을 찾고 크롬 개발자 도구를 이용하여 해당 요소들의 CSS 스타일을 직접 가져온 후 커스터마이징 하는 방법을 추천합니다 (Bootstrap, Material Design, Google Search)
*/
/* Variables (주요 속성에 대한 변수화) */
/* Extend  */
.noto, body, #header #primary-menu ul > li > a, #header #primary-menu .quick-menu #top-search form input, h1, h2, h3, h4, h5, h6, .clist .commentlist .comment-author span, .vview .vview-info .entry-meta li, .ulist .commentlist .comment-author span {
  font-family: 'Noto Sans', sans-serif; }

.box-shadow, #login-container .auth0-lock {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

/* Animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Default (기본 요소 스타일) */
html {
  overflow-y: scroll;
  height: 100% !important; }
  html.hasPopup {
    overflow-y: hidden; }

body {
  height: 100%; }
  body#index main,
  body#sub-full main,
  body#sub main {
    padding-bottom: 50px; }
    @media (max-width: 991px) {
      body#index main,
      body#sub-full main,
      body#sub main {
        padding-bottom: 40px; } }

input[type=text],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type=text]::-ms-clear {
  display: none; }

#wrapper {
  width: 100%;
  height: 100%; }

@media (min-width: 992px) {
  body#sub main {
    padding-top: 50px;
    min-height: calc(100% - 60px - 160px); } }

@media (max-width: 991px) {
  body#sub main {
    padding-top: 40px;
    min-height: calc(100% - 60px); } }

/* Layout (레이아웃 스타일) */
#header .container {
  line-height: 0; }

#header .container #primary-menu {
  line-height: 1.5; }

#header.full-header {
  border-bottom: 0; }

#header #header-wrap {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

#header #primary-menu ul > li > a {
  font-size: 14px;
  letter-spacing: 0; }

#header #primary-menu .quick-menu {
  float: right; }
  #header #primary-menu .quick-menu #top-account,
  #header #primary-menu .quick-menu #top-notification,
  #header #primary-menu .quick-menu #top-search {
    float: right;
    margin: 15px 5px 0 !important; }
    #header #primary-menu .quick-menu #top-account > a,
    #header #primary-menu .quick-menu #top-notification > a,
    #header #primary-menu .quick-menu #top-search > a {
      display: block;
      position: relative;
      width: 24px;
      height: 24px;
      padding: 5px;
      font-size: 16px;
      line-height: 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      text-align: center;
      color: #333;
      -webkit-transition: color .3s ease-in-out;
      transition: color .3s ease-in-out; }
    #header #primary-menu .quick-menu #top-account > a i,
    #header #primary-menu .quick-menu #top-notification > a i,
    #header #primary-menu .quick-menu #top-search > a i {
      left: 4px;
      top: 4px; }
  #header #primary-menu .quick-menu #top-notification > a > span {
    display: block;
    position: absolute;
    top: -2px;
    left: auto;
    right: -7px;
    font-size: 10px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background-color: #1ABC9C;
    border-radius: 50%; }
  #header #primary-menu .quick-menu #top-search form input {
    height: 60px;
    font-size: 20px;
    letter-spacing: 0; }
    #header #primary-menu .quick-menu #top-search form input::-webkit-input-placeholder {
      color: #ccc; }
    #header #primary-menu .quick-menu #top-search form input:-ms-input-placeholder {
      color: #ccc; }
    #header #primary-menu .quick-menu #top-search form input::placeholder {
      color: #ccc; }
  #header #primary-menu .quick-menu span.twitter-typeahead {
    display: block !important; }
  #header #primary-menu .quick-menu .tt-menu {
    width: 100%;
    margin: 0;
    padding: 8px 0;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }
  #header #primary-menu .quick-menu .tt-hint {
    color: #ccc; }
  #header #primary-menu .quick-menu .tt-suggestion {
    padding: 3px 20px;
    font-size: 15px;
    line-height: 24px; }
  #header #primary-menu .quick-menu .tt-suggestion:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #0097cf; }
  #header #primary-menu .quick-menu .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf; }

@media (min-width: 992px) {
  #header,
  #header-wrap,
  #logo img {
    height: 60px; }
  #primary-menu ul > li > a {
    padding-top: 19px;
    padding-bottom: 19px; } }

@media (max-width: 991px) {
  #wrapper #header {
    text-align: center !important; }
    #wrapper #header .container {
      padding: 0 15px !important; }
    #wrapper #header #logo {
      display: inline-block !important;
      width: auto !important;
      height: 60px !important;
      margin: 0 auto !important;
      text-align: center !important; }
      #wrapper #header #logo a {
        display: inline-block !important; }
      #wrapper #header #logo img {
        height: 60px !important; }
    #wrapper #header #primary-menu-trigger {
      top: 5px !important;
      font-size: 18px !important; }
    #wrapper #header #primary-menu ul > li > a {
      text-align: center !important;
      letter-spacing: 0 !important; }
    #wrapper #header #primary-menu .quick-menu {
      position: absolute !important;
      right: 15px !important;
      top: 0 !important;
      width: calc(100% - 30px); }
      #wrapper #header #primary-menu .quick-menu #top-account,
      #wrapper #header #primary-menu .quick-menu #top-notification,
      #wrapper #header #primary-menu .quick-menu #top-search {
        position: relative !important;
        top: auto !important;
        right: auto !important;
        bottom: auto !important;
        left: auto !important;
        float: right !important;
        margin: 15px 0 0 4px !important; }
        #wrapper #header #primary-menu .quick-menu #top-account > a,
        #wrapper #header #primary-menu .quick-menu #top-notification > a,
        #wrapper #header #primary-menu .quick-menu #top-search > a {
          top: auto !important;
          right: auto !important;
          bottom: auto !important;
          left: auto !important;
          display: block !important;
          margin: 0 !important; }
        #wrapper #header #primary-menu .quick-menu #top-account > a i,
        #wrapper #header #primary-menu .quick-menu #top-notification > a i,
        #wrapper #header #primary-menu .quick-menu #top-search > a i {
          left: 5px !important;
          top: 5px !important; }
      #wrapper #header #primary-menu .quick-menu #top-notification {
        position: static !important; }
      #wrapper #header #primary-menu .quick-menu #top-search {
        position: static !important; } }

body:not(.top-search-open) #top-notification {
  opacity: 1;
  -webkit-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
  transition: height .4s ease, margin .4s ease, opacity .2s .2s ease; }

body.top-search-open #top-notification {
  opacity: 0; }

#top-notification {
  border-top-color: #3EA98D; }
  #top-notification.top-notification-open .top-notification-content {
    opacity: 1;
    z-index: 11;
    margin-top: 0; }
  #top-notification .top-notification-content {
    opacity: 0;
    z-index: -2;
    position: absolute;
    width: 290px;
    background-color: #FFF;
    -webkit-box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #EEE;
    border-top: 2px solid #1ABC9C;
    top: 60px;
    right: 0;
    left: auto;
    margin: -10000px 0 0;
    -webkit-transition: opacity .5s ease,top .4s ease;
    transition: opacity .5s ease,top .4s ease; }
  #top-notification .top-notification-title {
    padding: 8px 10px;
    text-align: left; }
    #top-notification .top-notification-title h4 {
      margin: 0;
      font-size: 13px; }
  #top-notification .top-notification-items {
    overflow-y: auto;
    max-height: 250px; }
    #top-notification .top-notification-items .top-notification-item {
      display: table;
      width: 100%;
      border-top: 1px solid #F5F5F5;
      font-size: 12px;
      line-height: 16px; }
      #top-notification .top-notification-items .top-notification-item:hover {
        background-color: #F5F5F5; }
      #top-notification .top-notification-items .top-notification-item a {
        display: table-row;
        color: #333; }
      #top-notification .top-notification-items .top-notification-item a > span {
        display: table-cell;
        text-align: center;
        vertical-align: middle; }
      #top-notification .top-notification-items .top-notification-item .photo {
        width: 45px; }
        #top-notification .top-notification-items .top-notification-item .photo img {
          width: 30px;
          height: 30px;
          border-radius: 50%; }
      #top-notification .top-notification-items .top-notification-item .info {
        height: 40px;
        padding: 10px 0;
        text-align: left; }
      #top-notification .top-notification-items .top-notification-item .date {
        width: 45px;
        font-size: 11px;
        color: #999; }
        #top-notification .top-notification-items .top-notification-item .date img {
          width: 30px;
          max-height: 30px; }
  #top-notification .more {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #F5F5F5;
    color: #3498db;
    text-align: center;
    font-size: 13px; }

#footer {
  height: 160px;
  border-top: none;
  background-color: #F5F5F5; }
  #footer #copyrights {
    padding: 30px 0;
    background-color: transparent;
    color: #999; }
    #footer #copyrights .logo {
      float: left;
      width: 50%; }
      #footer #copyrights .logo img {
        height: 60px;
        margin-bottom: 0; }
    #footer #copyrights .copyrights {
      float: left;
      width: 50%; }
    #footer #copyrights .menu {
      float: right;
      width: 50%;
      margin: 15px 0 0;
      text-align: right; }
      #footer #copyrights .menu .copyrights-menu a {
        color: #666;
        position: relative; }
        #footer #copyrights .menu .copyrights-menu a:hover {
          color: #3498db; }
        #footer #copyrights .menu .copyrights-menu a:before {
          content: '';
          display: inline-block;
          position: absolute;
          left: -12px;
          top: 50%;
          margin-top: -4px;
          width: 1px;
          height: 10px;
          background-color: #ccc; }
        #footer #copyrights .menu .copyrights-menu a:first-child:before {
          display: none; }
      #footer #copyrights .menu .social-icon {
        display: inline-block;
        float: none; }
  @media (max-width: 991px) {
    #footer {
      height: auto; }
      #footer #copyrights {
        padding: 20px 0 30px;
        text-align: center; }
        #footer #copyrights .logo {
          float: none;
          width: 100%;
          margin-bottom: 15px; }
        #footer #copyrights .menu {
          float: none;
          width: 100%;
          margin: 0 0 15px;
          text-align: center; }
        #footer #copyrights .copyrights {
          float: none;
          width: 100%; } }

/* Template 변경 */
@media (max-width: 991px) {
  .container {
    width: 100% !important; } }

.button,
.flex-viewport {
  -webkit-transition: none !important;
  transition: none !important; }

.social-icon:hover i:first-child {
  margin-top: 0 !important; }

.si-share {
  padding-left: 0; }

.button,
.social-icon {
  border-radius: 4px; }

.si-rounded {
  border-radius: 50%; }

.button:hover {
  background-color: #3498db; }

.button.button-border:not(.button-fill):hover {
  background-color: #fff !important;
  border-color: #444 !important;
  color: #333 !important; }

.button-red:hover {
  background-color: #C02942; }

.button-teal:hover {
  background-color: #53777a; }

.button-yellow:hover {
  background-color: #ecd078; }

.button-green:hover {
  background-color: #59ba41; }

.button-brown:hover {
  background-color: #774f38; }

.button-aqua:hover {
  background-color: #40c0cb; }

.button-lime:hover {
  background-color: #aee239; }

.button-purple:hover {
  background-color: #5d4157; }

.button-leaf:hover {
  background-color: #a8caba; }

.button-pink:hover {
  background-color: #f89fa1; }

.button-blue:hover {
  background-color: #1265a8; }

.button-dirtygreen:hover {
  background-color: #1693a5; }

.button-amber:hover {
  background-color: #eb9c4d; }

.button-black:hover {
  background-color: #111; }

.button-white:hover {
  background-color: #fff; }

.si-kakao {
  background-color: #f2d60a; }

.icon-kakao {
  width: 30px;
  height: 30px;
  background: url("/images/social_kakao.png") 0 0 no-repeat;
  background-size: 30px 30px;
  font-size: 0; }

.si-line {
  background-color: #3dd037; }

.icon-line {
  width: 30px;
  height: 30px;
  background: url("/images/social_line.png") 0 0 no-repeat;
  background-size: 30px 30px;
  font-size: 0; }

.si-blog {
  background-color: #00ce38; }

.icon-blog {
  width: 30px;
  height: 30px;
  background: url("/images/social_blog.png") 0 0 no-repeat;
  background-size: 30px 30px;
  font-size: 0; }

.si-band {
  position: relative;
  background-color: #3dd037; }
  .si-band a {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    opacity: 0.01; }

.icon-band {
  width: 30px;
  height: 30px;
  background: url("/images/social_band.png") 0 0 no-repeat;
  background-size: 30px 30px;
  font-size: 0; }

.si-copy {
  background-color: #555; }

.icon-copy:before {
  content: "\e769"; }

.si-website {
  background-color: #555; }

.icon-website:before {
  font-family: "lined-icons";
  content: "\e078"; }

.nav {
  margin-bottom: 30px !important; }

.nav-tabs > li.active > a {
  font-weight: bold; }

/* Index (메인) */
body#index section {
  margin-bottom: 50px; }
  @media (max-width: 991px) {
    body#index section {
      margin-bottom: 40px; } }
  body#index section:last-child {
    margin-bottom: 0; }

@media (max-width: 991px) {
  body#index #slider .container {
    padding: 0; } }

body#index #promotion .promo {
  margin-top: -30px;
  background-color: #fff; }

@media (max-width: 991px) {
  body#index #promotion {
    text-align: center; }
    body#index #promotion .promo {
      padding: 15px 20px !important; }
    body#index #promotion .promo h3 {
      font-size: 16px; }
    body#index #promotion .promo h3 span:nth-child(2) {
      display: none; }
    body#index #promotion .promo > span {
      font-size: 14px;
      word-break: keep-all; }
    body#index #promotion .button {
      margin: 10px 0 0 !important;
      padding: 0 17px;
      font-size: 12px;
      height: 34px;
      line-height: 34px; } }

/* Sub - 푸터 없는 풀페이지 (지도로 보기용)  */
body#sub-full #wrapper {
  height: 100%; }

body#sub-full main {
  width: 100%;
  height: calc(100% - 60px); }

body#sub-full #footer {
  display: none; }

/* 로딩 */
.loading {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  line-height: 48px;
  font-size: 24px;
  color: #FFF;
  text-align: center; }

/* Popup */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto; }
  .white-popup h4 {
    margin-bottom: 20px; }
  .white-popup.mfp-copy .col_full {
    margin-bottom: 20px; }
  .white-popup.mfp-copy label {
    display: block; }
  .white-popup.mfp-copy input[type="text"] {
    float: left;
    width: calc(100% - 70px); }
  .white-popup.mfp-copy button {
    float: left;
    width: 70px;
    margin: 0;
    padding: 0;
    height: 41px;
    border-radius: 0; }
  .white-popup#modifyImage {
    max-width: 800px; }
    .white-popup#modifyImage .col_full, .white-popup#modifyImage .col_half {
      margin-bottom: 20px !important; }

#popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  outline: none !important; }
  #popup > div {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 1000px;
    margin: 20px auto; }
    #popup > div .mfp-close {
      color: #333; }

/* 로그인 */
#login-container {
  position: relative; }
  #login-container form {
    max-height: none; }
  #login-container .auth0-lock.auth0-lock {
    z-index: 10;
    width: 300px; }

/* 슬라이더 */
@media (max-width: 991px) {
  .fslider .flex-prev {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%; }
  .fslider .flex-next {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%; } }

/* 주소검색 */
.address input {
  float: left;
  width: calc(50% - 50px); }

.address button {
  float: left;
  width: 100px;
  height: 41px;
  display: inline-block;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #3498db;
  color: #3498db;
  font-size: 14px;
  font-weight: bold; }

@media (max-width: 479px) {
  .address input, .address button {
    width: 100%; } }

.profile .address input:nth-of-type(1) {
  float: left;
  width: 100px; }

.profile .address input:nth-of-type(2),
.profile .address input:nth-of-type(3) {
  width: calc(50% - 100px); }

@media (max-width: 479px) {
  .profile .address input:nth-of-type(1), .profile .address button {
    width: 50%; }
  .profile .address input:nth-of-type(2),
  .profile .address input:nth-of-type(3) {
    width: 100%; } }

/* 댓글 */
.clist .commentlist {
  margin-bottom: 0;
  padding-bottom: 40px; }
  .clist .commentlist li {
    -webkit-animation: fadeIn .4s;
            animation: fadeIn .4s;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%; }
  .clist .commentlist .comment-author span {
    font-style: normal; }
  .clist .commentlist .comment-reply-link {
    top: 2px;
    width: auto;
    height: auto; }
    .clist .commentlist .comment-reply-link .button {
      width: 60px;
      margin: 0 2px;
      padding-left: 0;
      padding-right: 0;
      text-align: center; }

.clist .clist-more a {
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #3498db;
  color: #3498db;
  font-weight: bold; }
  .clist .clist-more a:hover, .clist .clist-more a:active, .clist .clist-more a:focus {
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #3498db; }

/* VR 리스트 */
.vlist .vlist-menu-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  clear: both;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0; }
  .vlist .vlist-menu-wrapper .vlist-menu {
    width: calc(100% + 20px);
    margin: 0 0 0 -20px;
    border: none; }
    .vlist .vlist-menu-wrapper .vlist-menu .vlist-menu-item {
      float: left;
      width: 10%; }
      .vlist .vlist-menu-wrapper .vlist-menu .vlist-menu-item.activeFilter a {
        background-color: #3498db;
        color: #fff; }
      .vlist .vlist-menu-wrapper .vlist-menu .vlist-menu-item a {
        display: block;
        margin-left: 20px;
        padding: 10px 0;
        background-color: #F5F5F5;
        border-radius: 5px;
        text-align: center;
        color: #333;
        white-space: nowrap; }
        .vlist .vlist-menu-wrapper .vlist-menu .vlist-menu-item a i {
          display: block;
          width: 24px;
          height: 24px;
          margin: 0 auto 10px;
          font-size: 24px; }
  @media (max-width: 991px) {
    .vlist .vlist-menu-wrapper .vlist-menu {
      width: calc(100px * 10); }
      .vlist .vlist-menu-wrapper .vlist-menu .vlist-menu-item {
        width: 100px; } }

.vlist .vlist-content {
  margin: 0 -20px -30px 0; }
  .vlist .vlist-content .portfolio-item {
    padding: 0 20px 30px 0; }
    .vlist .vlist-content .portfolio-item .portfolio-image,
    .vlist .vlist-content .portfolio-item .slide img {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; }
    .vlist .vlist-content .portfolio-item .portfolio-desc {
      padding: 15px 15px;
      border: 1px solid #ddd;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px; }
      .vlist .vlist-content .portfolio-item .portfolio-desc .author {
        display: block;
        margin-bottom: 5px; }
        .vlist .vlist-content .portfolio-item .portfolio-desc .author a {
          font-size: 16px;
          color: #333; }
          .vlist .vlist-content .portfolio-item .portfolio-desc .author a:hover {
            color: #3498db; }
        .vlist .vlist-content .portfolio-item .portfolio-desc .author img {
          display: inline-block !important;
          height: 16px !important;
          margin: -2px 0 0 !important;
          vertical-align: middle !important; }
      .vlist .vlist-content .portfolio-item .portfolio-desc .info {
        margin-top: 5px; }
        .vlist .vlist-content .portfolio-item .portfolio-desc .info span {
          color: #777; }
        .vlist .vlist-content .portfolio-item .portfolio-desc .info .heart {
          float: right;
          margin-left: 10px; }
        .vlist .vlist-content .portfolio-item .portfolio-desc .info .date {
          float: left;
          color: #999; }
        .vlist .vlist-content .portfolio-item .portfolio-desc .info .comment {
          float: right; }

.vlist .vlist-more a {
  margin-top: 30px;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #3498db;
  color: #3498db;
  font-weight: bold; }
  .vlist .vlist-more a:hover, .vlist .vlist-more a:active, .vlist .vlist-more a:focus {
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #3498db; }

@media (max-width: 479px) {
  .vlist .vlist-content {
    margin: 0 0 -30px 0; }
    .vlist .vlist-content .portfolio-item {
      padding-right: 0; } }

/* VR 뷰 */
.vview h4 {
  margin-bottom: 20px; }

.vview .line {
  margin: 40px 0; }

.vview .si-share {
  float: none;
  padding: 0;
  text-align: right;
  line-height: 1; }
  .vview .si-share .social-icon {
    display: inline-block;
    float: none; }

.vview .entry {
  margin-bottom: 40px;
  padding-bottom: 40px; }

.vview .vview-info {
  margin-bottom: 20px; }
  .vview .vview-info .entry-meta {
    float: left;
    width: 50%;
    margin: 0;
    padding: 10px 0; }
    .vview .vview-info .entry-meta * {
      font-style: normal; }
    .vview .vview-info .entry-meta li {
      margin-bottom: 0; }
    .vview .vview-info .entry-meta i {
      margin-top: -2px;
      vertical-align: middle; }
    .vview .vview-info .entry-meta img {
      height: 16px;
      margin: -2px 0 0;
      vertical-align: middle; }
  .vview .vview-info .si-share {
    float: right;
    width: 50%; }
  @media (max-width: 991px) {
    .vview .vview-info .entry-meta {
      clear: both;
      overflow: hidden;
      float: none;
      width: 100%;
      padding-bottom: 20px; }
    .vview .vview-info .si-share {
      float: none;
      width: 100%;
      text-align: right; } }

.vview .vview-content .vr-image {
  margin-bottom: 40px; }
  .vview .vview-content .vr-image .boot-tabs {
    margin-bottom: 30px !important; }

.vview .vview-content .map .col_half {
  margin-bottom: 40px; }

.vview .vview-content .map .daum-map,
.vview .vview-content .map .daum-roadview {
  height: 400px; }
  @media (max-width: 479px) {
    .vview .vview-content .map .daum-map,
    .vview .vview-content .map .daum-roadview {
      height: 300px; } }

.vview .vview-button {
  margin: -30px 0 40px;
  text-align: center; }

.vview .vview-author-info {
  margin-bottom: 40px; }
  .vview .vview-author-info h3 a {
    color: #3498db; }
  .vview .vview-author-info h3 img {
    height: 16px;
    margin: -2px 0 0;
    vertical-align: middle; }
  .vview .vview-author-info .author-content {
    margin-bottom: 10px; }
  .vview .vview-author-info .si-share {
    clear: both;
    text-align: right; }

.vview #comments {
  margin-top: 40px;
  padding-top: 40px; }
  .vview #comments .col_full {
    margin-bottom: 20px; }

/* VR 쓰기 */
.vwrite {
  position: relative; }
  .vwrite .write-button {
    text-align: center; }
    @media (min-width: 992px) {
      .vwrite .write-button {
        position: absolute;
        right: 0;
        top: -5px; } }
  .vwrite .dropzone {
    display: table-cell;
    width: 9999px;
    height: 300px;
    border: 3px dashed #ddd;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center; }
    @media (max-width: 991px) {
      .vwrite .dropzone {
        display: none; } }
  .vwrite .file {
    margin: 10px 0 30px; }
  .vwrite table {
    border-callapse: collapse; }
  .vwrite table tbody.files td {
    width: 25%;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    vertical-align: middle; }
    .vwrite table tbody.files td * {
      margin: 0; }
    .vwrite table tbody.files td:nth-of-type(1) {
      text-align: center; }
    .vwrite table tbody.files td:nth-of-type(2) {
      text-align: left; }
    .vwrite table tbody.files td:nth-of-type(3) {
      text-align: center; }
    .vwrite table tbody.files td:nth-of-type(4) {
      padding-right: 10px;
      text-align: right; }
      .vwrite table tbody.files td:nth-of-type(4) button {
        margin: 3px 0; }
  .vwrite #daum-map {
    overflow: hidden;
    width: 100%;
    height: 217px;
    margin-bottom: 10px;
    border-radius: 10px; }

/* 지도로 보기 */
#map-container {
  position: relative;
  width: 100%; }
  #map-container .map {
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 10;
    width: 35%;
    height: calc(100% - 60px); }
    #map-container .map #google-map,
    #map-container .map #map {
      width: 100%;
      height: 100%; }
  #map-container .vlist {
    width: 65%;
    min-height: 100%;
    padding: 30px; }
    #map-container .vlist .vlist-more {
      display: none; }
  #map-container .control {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 20px;
    z-index: 201;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  @media (max-width: 1599px) and (min-width: 1200px) {
    #map-container .vlist-menu {
      width: calc(100% + 10px);
      margin: 0 0 0 -10px; }
      #map-container .vlist-menu .vlist-menu-item a {
        margin-left: 10px; }
    #map-container .portfolio-item {
      width: 50%; } }
  @media (max-width: 1199px) {
    #map-container .control {
      display: block; }
    #map-container .map {
      opacity: 0;
      z-index: -10;
      top: 0;
      width: 100%;
      height: 100%; }
      #map-container .map.active {
        opacity: 1;
        z-index: 200; }
    #map-container .vlist {
      overflow: visible;
      width: 100%;
      height: auto; } }

/* 유저정보 상단 */
.heading-block.info > span span {
  margin-right: 15px; }

.heading-block.info > span i {
  margin: -3px 0 0;
  vertical-align: middle; }

.heading-block.info .contact {
  clear: both;
  margin: 15px 0 0;
  text-align: center; }
  .heading-block.info .contact .social-icon {
    display: inline-block;
    float: none; }
    .heading-block.info .contact .social-icon:hover {
      background-color: rgba(0, 0, 0, 0.05) !important; }

.heading-block.info .panel-default {
  clear: both;
  margin: 15px 0 0; }
  .heading-block.info .panel-default .author-content {
    margin-bottom: 10px; }
  .heading-block.info .panel-default .si-share {
    clear: both;
    text-align: right; }
    .heading-block.info .panel-default .si-share .social-icon {
      display: inline-block;
      float: none; }

/* 프로필*/
/* 유저정보 */
@media (max-width: 479px) {
  .user .nav > li {
    width: 20%; }
  .user .nav > li > a {
    width: 100%;
    padding: 10px 0;
    white-space: nowrap;
    text-align: center; } }

.ulist .commentlist {
  margin-bottom: 0;
  padding-bottom: 40px; }
  .ulist .commentlist li {
    -webkit-animation: fadeIn .4s;
            animation: fadeIn .4s;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%; }
    .ulist .commentlist li p {
      margin: 0; }
  .ulist .commentlist .comment-avatar {
    top: 5px; }
  .ulist .commentlist .comment-author {
    margin-bottom: 0;
    padding: 8px 0; }
    .ulist .commentlist .comment-author span {
      font-style: normal; }
  .ulist .commentlist .comment-reply-link {
    top: 2px;
    width: auto;
    height: auto; }
    .ulist .commentlist .comment-reply-link .button {
      width: 60px;
      margin: 0 2px;
      padding-left: 0;
      padding-right: 0;
      text-align: center; }

.ulist .ulist-more a {
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #3498db;
  color: #3498db;
  font-weight: bold; }
  .ulist .ulist-more a:hover, .ulist .ulist-more a:active, .ulist .ulist-more a:focus {
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #3498db; }

/* 채팅 */
#firechat div#firechat-tabs {
  height: auto; }

#firechat .nav.nav-tabs li a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: transparent;
  color: #3498db;
  text-align: center;
  font-size: 14px;
  font-weight: normal; }
  #firechat .nav.nav-tabs li a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
    background-color: #eeeeee;
    color: #222; }

#firechat .nav.nav-tabs li.active a {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
  font-weight: bold; }

#firechat div.tab-pane-menu {
  margin-bottom: 20px;
  border: none; }
  #firechat div.tab-pane-menu .firechat-dropdown:first-child {
    margin-left: 0; }
  #firechat div.tab-pane-menu .btn {
    height: 37px;
    color: #333;
    background-color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px; }
    #firechat div.tab-pane-menu .btn .icon {
      margin-top: 1px;
      vertical-align: middle; }
  #firechat div.tab-pane-menu .close {
    margin-top: 15px; }

#firechat div.firechat-dropdown-menu ul {
  overflow-y: auto; }
  #firechat div.firechat-dropdown-menu ul li a {
    padding: 5px 10px; }
  #firechat div.firechat-dropdown-menu ul .icon {
    margin-left: 5px; }

#firechat div.chat {
  margin-bottom: 0;
  padding: 20px 10px;
  background-color: #F5F5F5;
  border-radius: 0;
  border: none !important; }

#firechat .message.message-default {
  background-color: #fcf8e3 !important;
  margin-right: 300px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none; }
  @media (max-width: 991px) {
    #firechat .message.message-default {
      margin-right: 50px; } }
  #firechat .message.message-default label {
    margin-bottom: 5px;
    font-weight: normal;
    color: #333; }
    #firechat .message.message-default label em {
      font-style: normal;
      color: #999; }

#firechat .message.message-default.message-self {
  background-color: #d9edf7 !important;
  margin-right: 0px;
  margin-left: 300px;
  color: #3498db; }
  @media (max-width: 991px) {
    #firechat .message.message-default.message-self {
      margin-left: 50px; } }

#firechat textarea {
  padding: 9px 10px !important;
  border-radius: 0 !important; }

#firechat div.prompt .prompt-header {
  background-color: #F5F5F5;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 16px;
  color: #444; }

#firechat div.prompt .prompt-body p {
  margin: 20px 0;
  font-size: 16px;
  color: #444; }

#firechat div.prompt .prompt-body strong {
  font-size: 16px;
  color: #3498db; }
