<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../static/head.ejs %>
  <script type="text/javascript" src="//developers.band.us/js/share/band-button.js?v=28052017"></script>
</head>
<body id="sub" class="stretched no-transition no-smooth-scroll">

    <div id="wrapper" class="clearfix">
        <% include ../addon/header.ejs %>
        <main>
    <div class="container">
      <div class="row clearfix">
          <div class="col-sm-3 clearfix bottommargin-sm">
            <% include ./right-side.ejs %>
          </div>
          <div class="password col-sm-9">
            <form action="/user/change-password" method="post">
              <img src="/lib/js-canvas/images/icons/avatar.jpg" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" alt="Avatar" style="width: 84px;">
              <div class="heading-block noborder info">
                <h3><%= nickname %></h3>
                <span>
                  <span><i class="icon-heart3"></i> <%= userLikeCount %></span>
                  <span><i class="icon-star3"></i> <%= __("memberType")[member_type] %></span>
                </span>
              </div>
  
              <div class="clear"></div>
  
              <div class="col_one_third">
                <label>기존 비밀번호</label>
                <input type="password" class="sm-form-control" name"currentpassword">
              </div>
  
              <div class="col_one_third">
                <label>새 비밀번호</label>
                <input type="password" class="sm-form-control" name="newpassword">
              </div>
  
              <div class="col_one_third col_last">
                <label>비밀번호 확인</label>
                <input type="password" class="sm-form-control" name"checknewpassword">
              </div>
  
              <div class="clear"></div>
  
              <div class="center">
                <button type="submit" class="button button-small">완료</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </main>
  <% include ../addon/footer.ejs %>
</div>

<div id="gotoTop" class="icon-angle-up"></div>

<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>

</body>
</html>