
  <article class="portfolio-item pf-graphics pf-illustrations">
    <div class="portfolio-image">
        <div class="fslider" data-arrows="false">
          <div class="flexslider">
             <!-- thumb.jpg를 미리보기로 -->
              <div class="slider-wrap">
                 <div class="slide"><a href="portfolio-single-gallery.html"><img src="/medias/vtours/sinho0689@gmail.com/201705310101/panos/SAM_100_0073.tiles/thumb.jpg" alt="Shake It"></a></div>
                 <div class="slide"><a href="portfolio-single-gallery.html"><img src="/medias/vtours/sinho0689@gmail.com/201705310101/panos/SAM_100_0074.tiles/thumb.jpg" alt="Shake It"></a></div>
                 <div class="slide"><a href="portfolio-single-gallery.html"><img src="/medias/vtours/sinho0689@gmail.com/201705310101/panos/SAM_100_0075.tiles/thumb.jpg" alt="Shake It"></a></div>
              </div>
          </div>
        </div>
       <!-- thumb.jpg가 pano_f.jpg임 -->
        <div class="portfolio-overlay" data-lightbox="gallery">
           <a href="/medias/vtours/sinho0689@gmail.com/201705310101/panos/SAM_100_0073.tiles/pano_f.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
           <a href="/medias/vtours/sinho0689@gmail.com/201705310101/panos/SAM_100_0074.tiles/pano_f.jpg" class="hidden" data-lightbox="gallery-item"></a>
           <a href="/medias/vtours/sinho0689@gmail.com/201705310101/panos/SAM_100_0075.tiles/pano_f.jpg" class="hidden" data-lightbox="gallery-item"></a>
          <!-- <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
        </div>
    </div>
    <div class="testimonial">
        <div class="testi-image">
          <a href="#"><img src="<%= mediaUrl %>/<%= profile_image_path %>" alt="Customer Testimonails"></a>
        </div>
        <div class="testi-meat"><p style=" margin-bottom:0px;">nickname</p></div>
        <div class="clear"></div>
        <div class="portfolio-desc">
          <h3><a href="portfolio-single.html">Open Imagination</a></h3>
        </div>
        <ul class="entry-meta clearfix">
          <li><i class="icon-line-heart"></i><span>좋아요 개수</span></li>
          <li><i class="icon-calendar3"></i>년/월/일</li>
          <li><a href="blog-single.html#comments"><i class="icon-comments"></i>댓글 개수</a></li>
        </ul>
    </div>
  </article>
