<head>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script type="text/javascript" src="/lib/band-button.js"></script>
  <script>
    function copy_clip(url) {
      var IE = (document.all) ? true : false;
      if (IE) {
        window.clipboardData.setData("Text", url);
        alert("이 글의 단축url이 클립보드에 복사되었습니다.");
      } else {
        temp = prompt("이 글의 단축url입니다. Ctrl+C를 눌러 클립보드로 복사하세요", url);
      }
    }
  </script>

  <style>
    .count i {
      color: white;
    }

    .count h4 {
      display: inline;
      float: left;
      margin-right: 2em;
    }

      .sns_facebook {
         margin-right: 40px;
      }

      .mfp-bottom-bar{
         overflow-y: auto !important;
         height: 300px;
      }
     .band_div a{
        float: left;
     }

     .comment-avatar {
        top: -12px !important;
        left: -76px !important;
     }

     .comment-author{
        text-align: start;
        left: 41px;
        position: relative;
     }

    .comment-author h6{
       color: white;
    }

    .comment-author a h6{
       color: white;
    }
   </style>

</head>


<div class="mfp-figure">
  <div class="mfp-close"></div>
  <div class="mfp-img"></div>
  <div class="mfp-description"></div>
  <div class="mfp-bottom-bar">
    <div class="mfp-title"></div>
    <div class="mfp-counter"></div>
    <div class="mfp-bottom"></div>
  </div>
</div>
