<div class="list-group">
  <a href="#" class="list-group-item clearfix">Profile <i class="icon-user pull-right"></i></a>
  <a href="#" class="list-group-item clearfix">비밀번호 변경 <i class="icon-laptop2 pull-right"></i></a>
  <a href="#" class="list-group-item clearfix">Messages <i class="icon-envelope2 pull-right"></i></a>
  <a href="#" class="list-group-item clearfix">Billing <i class="icon-credit-cards pull-right"></i></a>

  <a href="/user/change" class="list-group-item clearfix">Settings <i class="icon-cog pull-right"></i></a>
  <a href="/auth/logout" class="list-group-item clearfix">Logout<i class="icon-line2-logout pull-right"></i></a>
</div>