<div class="list-group">
  <a href="/user/change" class="list-group-item clearfix active">Profile <i class="icon-user pull-right"></i></a>
  <a href="/html/password.html" class="list-group-item clearfix">Password <i class="icon-key pull-right"></i></a>
  <a href="/html/settings.html" class="list-group-item clearfix">Settings <i class="icon-cog pull-right"></i></a>
  <a href="/auth/logout" class="list-group-item clearfix">Logout <i class="icon-line2-logout pull-right"></i></a>
</div>
