<div class="top-notification-item clearfix">
  <a href="#">
    <span class="photo"><img src="/lib/js-canvas/images/shop/small/1.jpg" alt=""></span>
    <span class="info">내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다</span>
    <span class="date">1년전</span>
  </a>
</div>