<% console.log(data) %>
<li class="comment even thread-even depth-1" id="li-comment-1">
  <div id="comment-1" class="comment-wrap clearfix">
    <div class="comment-meta">
      <div class="comment-author vcard">
        <span class="comment-avatar clearfix">
        <img alt='' src='<%= data.data.post.user.profile_image_path %>' class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>
      </div>
    </div>
    <div class="comment-content clearfix">
      <div class="comment-author"><%= data.data.post.user.nickname %><span><a href="#" title="Permalink to this comment"><%= data.data.post.createdAt %></a></span></div>
      <p><%= data.data.post.user.nickname %>님이 새로운 글을 올렸습니다</p>
      <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
    </div>
    <div class="clear"></div>
  </div>
</li>