<div class="row topmargin-sm">

   <section id="content">

      <div class="content-wrap">

         <div class="container clearfix">
            <div class="clear"></div>


            <!-- 포트폴리오 4개 잡음-->
            <div id="portfolio" class="portfolio grid-container portfolio-4 portfolio-masonry clearfix">

            <% for (var i = 0; i < data.length; i++) { %>

                <article class="portfolio-item pf-graphics pf-illustrations">
                  <div class="portfolio-image">
                      <div class="fslider" data-arrows="false">
                        <div class="flexslider">
                            <div class="slider-wrap">
                              <div class="slide"><a href="portfolio-single-gallery.html"><img src="/images/SH.png" alt="Shake It"></a></div>
                              <div class="slide"><a href="portfolio-single-gallery.html"><img src="/images/SH.png" alt="Shake It"></a></div>
                              <div class="slide"><a href="portfolio-single-gallery.html"><img src="/images/SH.png" alt="Shake It"></a></div>
                              <div class="slide"><a href="portfolio-single-gallery.html"><img src="/images/SH.png" alt="Shake It"></a></div>
                            </div>
                        </div>
                      </div>
                      <div class="portfolio-overlay" data-lightbox="gallery">
                        <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                        <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                        <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                        <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                        <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                      </div>
                  </div>
                  <div class="testimonial">
                      <div class="testi-image">
                        <a href="#"><img src="/lib/js-canvas/images/icons/avatar.jpg" alt="Customer Testimonails"></a>
                      </div>
                      <div class="testi-meat"><p style=" margin-bottom:0px;">nickname</p></div>
                      <div class="clear"></div>
                      <div class="portfolio-desc">
                        <h3><a href="portfolio-single.html">Open Imagination</a></h3>
                      </div>
                      <ul class="entry-meta clearfix">
                        <li><i class="icon-line-heart"></i><span>좋아요 개수</span></li>
                        <li><i class="icon-calendar3"></i>년/월/일</li>
                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i>댓글 개수</a></li>
                      </ul>
                  </div>
                </article>


            <% } %>


            </div><!-- #portfolio end -->
         </div>

      </div>
   </section><!-- #content end -->




</div>
