<div class="ulist">
  <ol class="commentlist clearfix">
    <% for (var i = 0; i < data.length; i++) { %>
    <li class="comment">
      <div class="comment-wrap clearfix">
        <div class="comment-meta">
          <div class="comment-author vcard">
            <span class="comment-avatar clearfix"><img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" class="avatar avatar-60 photo avatar-default" height="60" width="60"></span>
          </div>
        </div>
        <div class="comment-content clearfix">
          <div class="comment-author"><%= data[i].nickname %></div>
          <div class="comment-reply-link">
            <span class="button button-small button-border">팔로잉</span>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <% if (false) { %>
        <!--
        <ul class='children'>
          <li class="comment byuser comment-author-_smcl_admin odd alt depth-2" id="li-comment-3">
            <div id="comment-3" class="comment-wrap clearfix">
              <div class="comment-meta">
                <div class="comment-author vcard">

                  <span class="comment-avatar clearfix">
                    <img alt='' src='http://1.gravatar.com/avatar/30110f1f3a4238c619bcceb10f4c4484?s=40&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>

                </div>
              </div>
              <div class="comment-content clearfix">
                <div class="comment-author"><a href='#' rel='external nofollow' class='url'>SemiColon</a><span><a href="#" title="Permalink to this comment">April 25, 2012 at 1:03 am</a></span></div>

                <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
              </div>
              <div class="clear"></div>
            </div>
          </li>
        </ul>
        -->
      <% } %>
    </li>
    <% } %>
    <li class="comment">
      <div class="comment-wrap clearfix">
        <div class="comment-meta">
          <div class="comment-author vcard">
            <span class="comment-avatar clearfix"><img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" class="avatar avatar-60 photo avatar-default" height="60" width="60"></span>
          </div>
        </div>
        <div class="comment-content clearfix">
          <div class="comment-author">모랩</div>
          <div class="comment-reply-link">
            <a class="button button-small" href="#">팔로우</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </li>
  </ol>
  <div class="ulist-more">
    <a href="#" class="btn btn-default btn-block">
      <i class="icon-line-plus"></i>
      더보기
    </a>
  </div>
</div>

<script>
// 팔로워 더보기
$('#tab-follower .ulist-more a').on('click', function(e) {
  var $html = '<li class="comment"> <div class="comment-wrap clearfix"> <div class="comment-meta"> <div class="comment-author vcard"> <span class="comment-avatar clearfix"><img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" class="avatar avatar-60 photo avatar-default" height="60" width="60"></span> </div></div><div class="comment-content clearfix"> <div class="comment-author">모랩</div><div class="comment-reply-link"> <a class="button button-small" href="#">팔로우</a> </div></div><div class="clear"></div></div></li>';

  $('#tab-follower .ulist').append('<div class="loading"><div><i class="icon-line-loader icon-spin"></i></div></div>');
  window.setTimeout(function() {
    $('#tab-follower .commentlist').append($html);
    $('#tab-follower .ulist .loading').remove();
  }, 500);

  e.preventDefault();
});
</script>