<div class="ulist">
  <ol class="commentlist clearfix">
    <% for (var i = 0; i < data.length; i++) { %>
    <li class="comment">
      <div class="comment-wrap clearfix">
        <div class="comment-meta">
          <div class="comment-author vcard">
          <% console.log(data) %>
            <span class="comment-avatar clearfix"><img alt="" src="<%= data[i].profile_image_path %>" class="avatar avatar-60 photo avatar-default" height="60" width="60"></span>
          </div>
        </div>
        <div class="comment-content clearfix">
          <div class="comment-author"><%= data[i].nickname %></div>
          <div class="comment-reply-link">
            <% if (true) { %>
              <span class="button button-small button-border">팔로잉</span>
            <% } else { %>
              <a class="button button-small" href="#">팔로우</a>
            <% } %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </li>
    <% } %>
  </ol>
  <div class="ulist-more">
    <a href="#" class="btn btn-default btn-block">
      <i class="icon-line-plus"></i>
      더보기
    </a>
  </div>
</div>

<script>
// 팔로워 더보기
$('#tab-follower .ulist-more a').on('click', function(e) {
  var $html = '<li class="comment"> <div class="comment-wrap clearfix"> <div class="comment-meta"> <div class="comment-author vcard"> <span class="comment-avatar clearfix"><img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" class="avatar avatar-60 photo avatar-default" height="60" width="60"></span> </div></div><div class="comment-content clearfix"> <div class="comment-author">모랩</div><div class="comment-reply-link"> <a class="button button-small" href="#">팔로우</a> </div></div><div class="clear"></div></div></li>';

  $('#tab-follower .ulist').append('<div class="loading"><div><i class="icon-line-loader icon-spin"></i></div></div>');
  window.setTimeout(function() {
    $('#tab-follower .commentlist').append($html);
    $('#tab-follower .ulist .loading').remove();
  }, 500);

  e.preventDefault();
});
</script>