<div class="row topmargin-sm clearfix">
  <% for (var i = 0; i < data.length; i++) { %>
    <div class="col-xs-12 bottommargin-sm">
        <div class="ipost clearfix">
          <div class="row clearfix">
              <div class="col-sm-4">
                <div class="entry-image">
                    <a href="images/portfolio/full/17.jpg" data-lightbox="image"><img class="image_fade" src="images/blog/grid/17.jpg" alt="Standard Post with Image"></a>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="entry-title">
                    <h3><a href="blog-single.html">This is a Standard post with a Preview Image</a></h3>
                </div>
                <ul class="entry-meta clearfix">
                    <li><i class="icon-calendar3"></i> 10th Feb 2014</li>
                    <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
                    <li><a href="#"><i class="icon-camera-retro"></i></a></li>
                </ul>
                <div class="entry-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
                </div>
              </div>
          </div>
        </div>
    </div>
  <% } %>
</div>