<div class="clear topmargin-sm"></div>
<ol class="commentlist noborder nomargin nopadding clearfix">
</ol>

<script>
  const userAuthId = '<%= data %>';
  firebase.database().ref(['/notification', userAuthId].join('/')).on('child_added', function(snapshot) {

    let data = snapshot.val();

    let url = '';
    let template = '';

    switch (data.type) {
      case 'POST.CREATE':
        url = '/post/info/' + data.post.ID;
        template = '/template/user/notice/postCreate.ejs';
        break;

      default:
        return false;
    }

    $.ajax({
      url: url,
      success: function(result) {
        if (!jQuery.isEmptyObject(result)) {
          $('#tab-notice ol').prepend(new EJS({url: template}).render({data: result, mediaUrl: "<%= mediaUrl %>"}));
        }
      }
    });

  });
</script>