<footer id="footer">
 <div id="copyrights">
   <div class="container clearfix">
     <div class="logo"><img src="/images/logo.png" alt=""></div>
     <div class="menu">
       <div class="copyrights-menu copyright-links clearfix">
         <a href="#">메뉴1</a>
         <a href="#">메뉴2</a>
         <a href="#">메뉴3</a>
         <a href="#">메뉴4</a>
         <a href="#">메뉴5</a>
       </div>
       <div class="clearfix">
         <a href="#" class="social-icon si-small si-borderless si-facebook">
           <i class="icon-facebook"></i>
           <i class="icon-facebook"></i>
         </a>
         <a href="#" class="social-icon si-small si-borderless si-instagram">
           <i class="icon-instagram"></i>
           <i class="icon-instagram"></i>
         </a>
       </div>
     </div>
     <div class="Copyrights">
       Copyrights &copy; 2017 All Rights Reserved by Vgram Inc.
     </div>
   </div>
 </div>
</footer>