<header id="header">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <div id="logo">
        <a href="/"><img src="/images/logo.png" alt="Vgram"></a>
      </div>
      <nav id="primary-menu">
        <ul>
          <li class="current"><a href="/"><div>리스트로 보기</div></a></li>
          <li><a href="/post/map"><div>지도로 보기</div></a></li>
          <li><a href="/post/new"><div>NEW</div></a></li>
        </ul>
        <div class="quick-menu">
          <div id="top-account">
            <% if (logined) { %>
              <a href="/user/<%= userIdx %>">
                <i class="icon-user"></i>
              </a>
            <% } else { %>
              <a href="/auth/login">
                <i class="icon-user"></i>
              </a>
            <% } %>
          </div>
          <div id="top-notification">
            <a href="#" id="top-notification-trigger"><i class="icon-bell-alt"></i><span>3</span></a>
            <div class="top-notification-content">
              <div class="top-notification-title">
                <h4>최근 (11)</h4>
              </div>
              <div class="top-notification-items">
                <div class="top-notification-item clearfix">
                  <a href="#">
                    <span class="photo"><img src="/lib/js-canvas/images/shop/small/1.jpg" alt=""></span>
                    <span class="info">내용입니다내용입니다내용입니다내용입니다</span>
                    <span class="date"><img src="/lib/js-canvas/images/slider/boxed/5.jpg" alt=""></span>
                  </a>
                </div>
                <div class="top-notification-item clearfix">
                  <a href="#">
                    <span class="photo"><img src="/lib/js-canvas/images/shop/small/1.jpg" alt=""></span>
                    <span class="info">내용입니다</span>
                    <span class="date">2일전</span>
                  </a>
                </div>
                <div class="top-notification-item clearfix">
                  <a href="#">
                    <span class="photo"><img src="/lib/js-canvas/images/shop/small/1.jpg" alt=""></span>
                    <span class="info">내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다</span>
                    <span class="date">1달전</span>
                  </a>
                </div>
                <div class="top-notification-item clearfix">
                  <a href="#">
                    <span class="photo"><img src="/lib/js-canvas/images/shop/small/1.jpg" alt=""></span>
                    <span class="info">내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다</span>
                    <span class="date">1년전</span>
                  </a>
                </div>
              </div>
              <div class="top-notification-action clearfix">
                <a href="#" class="more"><i class="icon-line-plus"></i> 모두보기</a>
              </div>
            </div>
          </div>
          <div id="top-search">
            <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
            <form>
              <input type="text" name="q" class="search form-control" value="" placeholder="검색어를 입력하세요">
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<!-- #header end -->

<!--<script>-->
<!--var go = document.getElementById('cart');-->
<!--go.onclick = function () {-->
<!--if (logined) {-->
<!--location.href = "/user/change";-->
<!--} else-->
<!--location.href = "/auth/login";-->

<!--}-->
<!--</script>-->