
<header id="header">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <div id="logo">
        <a href="/"><img src="/images/logo.png" alt="Vgram"></a>
      </div>
      <nav id="primary-menu">
        <ul>
          <li class="current"><a href="/"><div>리스트로 보기</div></a></li>
          <li><a href="/post/map"><div>지도로 보기</div></a></li>
          <li><a href="/post/new"><div>NEW</div></a></li>
          <li><a href="/message"><div>채팅</div></a></li>
        </ul>
        <div class="quick-menu">
          <div id="top-account">
            <% if (logined) { %>
              <a href="/user/<%= userIdx %>">
                <i class="icon-user"></i>
              </a>
            <% } else { %>
              <a href="/auth/login">
                <i class="icon-user"></i>
              </a>
            <% } %>
          </div>
          <% if (logined) { %>
            <div id="top-notification">
              <a href="#" id="top-notification-trigger"><i class="icon-bell-alt"></i><span>3</span></a>
              <div class="top-notification-content">
                <div class="top-notification-title">
                  <h4>최근 (11)</h4>
                </div>
                <div class="top-notification-items">
                </div>
                <div class="top-notification-action clearfix">
                  <a href="/user/<%= userIdx %>" class="more"><i class="icon-line-plus"></i> 모두보기</a>
                </div>
              </div>
            </div>
          <% } %>
          <div id="top-search">
            <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
            <form>
              <input type="text" name="q" class="search form-control" value="" placeholder="검색어를 입력하세요">
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<% if (userAuthId) { %>

<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-storage.js"></script>

<script>
  // Initialize Firebase
  // TODO: Replace with your project's customized code snippet
  var config = {
    apiKey: "AIzaSyDycRGYGxEGmudxc8py7c0yPiaORwmz8Kk",
    authDomain: "cozyhouzz-531c2.firebaseapp.com",
    databaseURL: "https://cozyhouzz-531c2.firebaseio.com/",
    storageBucket: "cozyhouzz-531c2.appspot.com",
    messagingSenderId: "922421781014",
  };
  
  firebase.initializeApp(config);
</script>


<script>
  const userAuthId = '<%= userAuthId %>';
  firebase.database().ref(['/notification', userAuthId].join('/')).on('child_added', function(snapshot) {

    let data = snapshot.val();

    let url = '';
    let template = '';

    switch (data.type) {
      case 'POST.CREATE':
        url = '/post/info/' + data.post.ID;
        template = '/template/user/notice/postCreate.ejs';
        break;

      default:
        return false;
    }

    $.ajax({
      url: url,
      success: function(result) {
        if (!jQuery.isEmptyObject(result)) {
          $('.top-notification-items').prepend(new EJS({url: template}).render({data: result, mediaUrl: "<%= mediaUrl %>"}));
        }
      }
    });

  });
</script>

<% } %>

<!-- #header end -->

<!--<script>-->
<!--var go = document.getElementById('cart');-->
<!--go.onclick = function () {-->
<!--if (logined) {-->
<!--location.href = "/user/change";-->
<!--} else-->
<!--location.href = "/auth/login";-->

<!--}-->
<!--</script>-->