<!-- Header
           ============================================= -->
<header id="header">

   <div id="header-wrap">

      <div class="container clearfix">

         <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

         <!-- Logo
              ============================================= -->
         <div id="logo" ronterLink="/">
            <a ronterLink="/auth" hrefActive="active" class="standard-logo">
               <img src="/images/logo_cozyhouzz.png" alt="cozy Logo"></a>
            <a ronterLink="/auth" hrefActive="active" class="retina-logo">
               <img src="/images/logo_cozyhouzz@2x.png" alt="cozyhouzz Logo"></a>
         </div>

         <!-- Primary Navigation
              ============================================= -->
         <nav id="primary-menu" class="mobile-menu-off-canvas">

            <ul>
               <li><a href="/">
                     <div><strong>리스트로 보기</strong></div>
                  </a>
               </li>
               <li><a href="/post/room">
                     <div><strong>지도로 보기</strong></div>
                  </a>
                  <ul>
                     <li><a href="/post/room">
                           <div><i class="icon-stack"></i>방 정보 목록조회</div>
                        </a></li>
                  </ul>
               </li>
               <li><a href="/post/new">
                     <div><strong>NEW</strong></div>
                  </a>
               </li>
               <li>
                  <a href="/consultingListInfo">
                     <div><strong>채팅</strong></div>
                  </a>
                  <ul>
                     <li><a href="/post/new">
                           <div><i class="icon-stack"></i>질문하기</div>
                        </a></li>
                  </ul>
               </li>
            </ul>

            <!-- Top Cart
						============================================= -->
            <div id="top-cart">
               <a href="#" id="top-cart-trigger"><i class="icon-user"></i><span>5</span></a>
               <div class="top-cart-content">
                  <div class="top-cart-title">
                     <h4>Shopping Cart</h4>
                  </div>
                  <div class="top-cart-items">
                     <div class="top-cart-item clearfix">
                        <div class="top-cart-item-image">
                           <a href="#"><img src="/lib/js-canvas/images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt"/></a>
                        </div>
                        <div class="top-cart-item-desc">
                           <a href="#">Blue Round-Neck Tshirt</a>
                           <span class="top-cart-item-price">$19.99</span>
                           <span class="top-cart-item-quantity">x 2</span>
                        </div>
                     </div>
                     <div class="top-cart-item clearfix">
                        <div class="top-cart-item-image">
                           <a href="#"><img src="/lib/js-canvas/images/shop/small/6.jpg" alt="Light Blue Denim Dress"/></a>
                        </div>
                        <div class="top-cart-item-desc">
                           <a href="#">Light Blue Denim Dress</a>
                           <span class="top-cart-item-price">$24.99</span>
                           <span class="top-cart-item-quantity">x 3</span>
                        </div>
                        <div class="top-links" style="float: none;">
                           <ul>
                              <% if (logined) { %>
                              <li><a href="/user/change"><strong>내 정보수정</strong></a></li>
                              <li><a href="/auth/logout"><strong>로그아웃</strong></a></li>
                              <% } else { %>
                              <li><a href="/auth/login"><strong>로그인/회원가입</strong></a></li>
                              <% } %>
                           </ul>
                        </div><!-- .top-links end -->
                     </div>
                  </div>
                  <div class="top-cart-action clearfix">
                     <span class="fleft top-checkout-price">$114.95</span>
                     <button class="button button-3d button-small nomargin fright">로그인/로그아웃</button>
                  </div>
               </div>
            </div><!-- #top-cart end -->

            <!-- Top Search
						============================================= -->
            <div id="top-search">
               <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
               <form>
                  <input type="text" name="q" class="form-control typeahead" value=""
                         placeholder="Type &amp; Hit Enter..">
               </form>
            </div>
            <!-- #top-search end -->

         </nav><!-- #primary-menu end -->

      </div>

   </div>

</header><!-- #header end -->
