<!--<header id="header" class="header">-->
    <!--<div class="container">-->
        <!--&lt;!&ndash; LOGO &ndash;&gt;-->
        <!--<div class="logo text-center">-->
            <!--<a href="/"><h1 style="font-size: 50px">BINGLE<span style="color: #E15D5D">+</span></h1></a>-->
        <!--</div>-->
        <!--&lt;!&ndash; END / LOGO &ndash;&gt;-->
    <!--</div>-->

    <!--&lt;!&ndash; NAVIGATION &ndash;&gt;-->
    <!--<nav class="pi-navigation" data-menu-responsive="1200">-->
        <!--<div class="container">-->
            <!--<div class="open-menu">-->
                <!--<span class="item item-1"></span>-->
                <!--<span class="item item-2"></span>-->
                <!--<span class="item item-3"></span>-->
            <!--</div>-->
            <!--<div class="close-menu"></div>-->
            <!--<ul class="navlist">-->
                <!--<li class="menu-item-has-children current-menu-parent">-->
                    <!--<a href="/">Home</a>-->

                <!--</li>-->
                <!--<li><a href="/">About</a></li>-->
                <!--<li><a href="/">Category</a></li>-->
                <!--<li><a href="/p/upload">Upload</a></li>-->

            <!--</ul>-->

            <!--<div class="search-box">-->
                    <!--<span class="icon-search">-->
                        <!--<i class="fa fa-search"></i>-->
                    <!--</span>-->
                <!--<form action="GET">-->
                    <!--<input type="search" value="Search and hit enter">-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="share-box">-->

                <!--&lt;!&ndash;<a href=""><div ng-click="click_facebook_login()" class="fb-login-button" ><strong>로그인하기</strong></div></a>&ndash;&gt;-->
                <!--<a href="" data-toggle="modal" data-target="#myModal"><strong>로그인하기</strong></a>-->
                <!--<form id="fb_form" ng-submit="fb_login()" class="none" method="post" action="/">-->
                    <!--<input ng-bind="fb_email" value="{{fb_email}}" name="email" type="text">-->
                    <!--<button type="submit"></button>-->
                <!--</form>-->

                <!--<a href="" ng-click="logout()"><strong>김선호님 환영합니다.</strong></a>-->

            <!--</div>-->
        <!--</div>-->
      <!--</nav>-->
  <!--&lt;!&ndash; END / NAVIGATION &ndash;&gt;-->

<!--</header>-->
<!-- Header
		============================================= -->
<div id="top-bar">

  <div class="container clearfix">

    <div class="col_half nobottommargin">

      <!-- Top Links
                ============================================= -->
      <div class="top-links">
        <ul>
<!--          <li *ngIf="!logined"><a href="/login"><strong>로그인/회원가입</strong></a></li>-->
          <li ><a href="/login"><strong>로그인/회원가입</strong></a></li>
          <li *ngIf="logined"><a href="/change"><strong>내 정보수정</strong></a></li>
          <!--<li *ngIf="logined"><a routerLink="/buildcaselately"><strong>최근 본 사례 조회</strong></a></li>-->
          <!--<li *ngIf="logined"><a routerLink="/buildcaseselected"><strong>찜한 사례 조회</strong></a></li>-->
          <li *ngIf="logined"><a href="/consultingMyListInfo"><strong>내 컨설팅 정보</strong></a></li>
          <!--<li *ngIf="logined"><a routerLink="/list/room"><strong>방 정보 목록 조회</strong></a></li>-->
          <li *ngIf="logined"><a (click)="logout()"><strong>로그아웃</strong></a></li>
        </ul>
      </div><!-- .top-links end -->

    </div>

    <div class="col_half fright col_last nobottommargin">

      <!-- Top Social
                ============================================= -->
      <div id="top-social">
        <ul>
          <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
          <li><a href="#" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
          <li><a href="#" class="si-dribbble"><span class="ts-icon"><i class="icon-dribbble"></i></span><span class="ts-text">Dribbble</span></a></li>
          <li><a href="#" class="si-github"><span class="ts-icon"><i class="icon-github-circled"></i></span><span class="ts-text">Github</span></a></li>
          <li><a href="#" class="si-pinterest"><span class="ts-icon"><i class="icon-pinterest"></i></span><span class="ts-text">Pinterest</span></a></li>
          <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
          <li><a href="tel:+91.11.85412542" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+91.11.85412542</span></a></li>
          <li><a href="mailto:info@canvas.com" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">kcmin@naver.com</span></a></li>
        </ul>
      </div><!-- #top-social end -->

    </div>

  </div>

    </div><!-- #top-bar end -->
    <!-- Header
          ============================================= -->
    <header id="header" class="full-header">

      <div class="container clearfix">
          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
                ============================================= -->
        <div id="logo" ronterLink="/">
          <a ronterLink="/" routerLinkActive="active" class="standard-logo"><img src="images/construction/logo_cozyhouzz2.png" alt="cozy Logo"></a>
          <a ronterLink="/" routerLinkActive="active" class="retina-logo"><img src="images/construction/logo_cozyhouzz@2x.png" alt="cozyhouzz Logo"></a>
        </div>

    <nav id="primary-menu" class="mobile-menu-off-canvas dark">

        <ul>
          <li><a href="/" routerLinkActive="active"><div>Home</div></a></li>
<!--          <li><a routerLink="/buildcaselist"><div>시공사례</div></a>
            <ul>
              <li><a routerLink="/buildcaseinput"><div><i class="icon-stack"></i>시공사례입력</div></a></li>
              <li><a routerLink="/buildcaselist"><div><i class="icon-gift"></i>시공사례조회</div></a></li>
            </ul>
          </li>-->
          <li><a href="/consultingListInfo"><div>컨설팅</div></a>
            <ul>
              <li><a href="/consultingCounsel"><div><i class="icon-stack"></i>상담 받기</div></a></li>
              <li><a href="/consultingListInfo"><div><i class="icon-gift"></i>컨설팅 정보 조회</div></a></li>
            </ul>
          </li>
          <!--<li><a routerLink="/bizList"><div>등록업체정보</div></a>
          <ul>
            <li><a routerLink="/bizList"><div><i class="icon-stack"></i>업체 목록</div></a></li>
          </ul>
        </li>-->
          <li><a routerLink="/list/room"><div>방 정보 홍보 보기</div></a>
            <ul>
              <li><a routerLink="/create/room"><div><i class="icon-stack"></i>방 등록</div></a></li>
              <li><a routerLink="/list/room"><div><i class="icon-stack"></i>방 정보 목록조회</div></a></li>
            </ul>
          </li>
        </ul>




    </nav><!-- #primary-menu end -->

  </div>

</header><!-- #header end -->
