

<!-- Header
  ============================================= -->
<header id="header" class="static-sticky transparent-header dark" style="z-index:9;">

  <div id="header-wrap" style="background:#000;">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
          ============================================= -->
      <div id="logo" ronterLink="/">
        <a ronterLink="/auth" hrefActive="active" class="standard-logo"><img src="lib/js-canvas/images/cozylogo4@.png" alt="cozy Logo"></a>
        <a ronterLink="/auth" hrefActive="active" class="retina-logo"><img src="lib/js-canvas/images/cozylogo4.png" alt="cozyhouzz Logo"></a>
      </div>
      <!-- #logo end -->

      <!-- Primary Navigation
          ============================================= -->
      <nav id="primary-menu" class="mobile-menu-off-canvas dark">

        <ul>
          <li><a href="/" hrefActive="active">
            <div>Home</div>
          </a></li>
          <li>
            <a href="/consultingListInfo">
              <div>컨설팅</div>
            </a>
            <ul>
                <li><a href="/consultingCounsel">
                  <div><i class="icon-stack"></i>상담 받기</div>
                </a></li>
                <li><a href="/consultingListInfo">
                  <div><i class="icon-gift"></i>컨설팅 정보 조회</div>
                </a></li>
              </ul>
          </li>
          <li>
            <a href="/post/room">
              <div>방 정보 홍보 보기</div>
            </a>
            <ul>
              <li><a href="/post/room/new">
                <div><i class="icon-stack"></i>방 등록</div>
              </a></li>
              <li><a href="/post/room">
              <div><i class="icon-stack"></i>방 정보 목록조회</div>
              </a></li>
            </ul>
          </li>
        </ul>

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->
