<div class='aligncenter clearfix'>
  <p>
    Invite
    <strong><%= userName %></strong>
    to
    <strong><%= roomName %></strong>
  </p>
  <p class='clearfix'>
    <button data-toggle='accept' type='button' class='button button-small'>초대</button>
    <button data-toggle='decline' type='button' class='button button-small button-red'>취소</button>
  </p>
</div>
