<!DOCTYPE html>
<html lang="ko">



<head>
   <% include ../static/head.ejs %>
</head>



<body class="stretched">
<div id="wrapper" class="clearfix">



   <header>
      <!-- HEADER -->
      <% include ../addon/header.ejs %>
   </header>


   <div class="container-fullwidth clearfix">

      <div id="job-apply" class="heading-block highlight-me">
         <h2>Apply Now</h2>
         <span>And we'll get back to you within 48 hours.</span>
      </div>

      <div class="contact-widget">

         <div class="contact-form-result"></div>

         <form action="include/jobs.php" id="template-jobform" name="template-jobform" method="post" role="form">

            <div class="form-process"></div>

            <div class="col_half">
               <label for="template-jobform-fname">First Name <small>*</small></label>
               <input type="text" id="template-jobform-fname" name="template-jobform-fname" value="" class="sm-form-control required" />
            </div>

            <div class="col_half col_last">
               <label for="template-jobform-lname">Last Name <small>*</small></label>
               <input type="text" id="template-jobform-lname" name="template-jobform-lname" value="" class="sm-form-control required" />
            </div>

            <div class="clear"></div>

            <div class="col_full">
               <label for="template-jobform-email">Email <small>*</small></label>
               <input type="email" id="template-jobform-email" name="template-jobform-email" value="" class="required email sm-form-control" />
            </div>

            <div class="col_half">
               <label for="template-jobform-age">Age <small>*</small></label>
               <input type="text" name="template-jobform-age" id="template-jobform-age" value="" size="22" tabindex="4" class="sm-form-control required" />
            </div>

            <div class="col_half col_last">
               <label for="template-jobform-city">City <small>*</small></label>
               <input type="text" name="template-jobform-city" id="template-jobform-city" value="" size="22" tabindex="5" class="sm-form-control required" />
            </div>

            <div class="clear"></div>

            <div class="col_full">
               <label for="template-jobform-service">Position <small>*</small></label>
               <select name="template-jobform-position" id="template-jobform-position"  tabindex="9" class="sm-form-control required">
                  <option value="">-- Select Position --</option>
                  <option value="Senior Python Developer">Senior Python Developer</option>
                  <option value="Design Analyst">Design Analyst</option>
                  <option value="Head of UX and Design">Head of UX and Design</option>
                  <option value="Web &amp; Visual Designer (Marketing)">Web &amp; Visual Designer (Marketing)</option>
               </select>
            </div>

            <div class="col_half">
               <label for="template-jobform-salary">Expected Salary</label>
               <input type="text" name="template-jobform-salary" id="template-jobform-salary" value="" size="22" tabindex="6" class="sm-form-control" />
            </div>

            <div class="col_half col_last">
               <label for="template-jobform-time">Start Date</label>
               <input type="text" name="template-jobform-start" id="template-jobform-start" value="" size="22" tabindex="7" class="sm-form-control" />
            </div>

            <div class="clear"></div>

            <div class="col_full">
               <label for="template-jobform-website">Website (if any)</label>
               <input type="text" name="template-jobform-website" id="template-jobform-website" value="" size="22" tabindex="8" class="sm-form-control" />
            </div>

            <div class="col_full">
               <label for="template-jobform-experience">Experience (optional)</label>
               <textarea name="template-jobform-experience" id="template-jobform-experience" rows="3" tabindex="10" class="sm-form-control"></textarea>
            </div>

            <div class="col_full">
               <label for="template-jobform-application">Application <small>*</small></label>
               <textarea name="template-jobform-application" id="template-jobform-application" rows="6" tabindex="11" class="sm-form-control required"></textarea>
            </div>

            <div class="col_full hidden">
               <input type="text" id="template-jobform-botcheck" name="template-jobform-botcheck" value="" class="sm-form-control" />
            </div>

            <div class="col_full">
               <button class="button button-3d button-large btn-block nomargin" name="template-jobform-apply" type="submit" value="apply">Send Application</button>
            </div>

         </form>

      </div>

   </div>




</div>  <!-- wrapper.clearfix -->




<footer>
   <!-- FOOTER -->
   <% include ../addon/footer.ejs %>
</footer>


<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>

<div id="gotoTop" class="icon-angle-up"></div>



</body>
</html>
