<!DOCTYPE html>
<html lang="ko">


<head>
   <% include ../static/head.ejs %>
   <link rel="stylesheet" type="text/css" href="/lib/jquery.fullPage/jquery.fullPage.css" />
   <link rel="stylesheet" type="text/css" href="/css/fullPage.scrollOverflowReset.css" />
   <style>
      /* Fixed header and footer.
       * --------------------------------------- */
      #header, #footer{
         position:fixed;
         display:block;
         width: 100%;
         z-index:9;
         text-align:center;
      }

      #header{
         top:0px;
      }
      #footer{
         bottom:0px;
      }

      .fp-bg{
         background-size: cover;
         transform: translate3d(0,0,0);
         -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
         backface-visibility: hidden;
      }

      #section1 .fp-bg{
         background-image: url('/images/parallax/parallax-1.jpg');
         background-position: center 80%;
      }

      #section2 .fp-bg{
         background-image: url('/images/parallax/parallax-2.jpg');
         background-position: center 60%;
      }

      #section3 .fp-bg{
         background-image: url('/images/parallax/parallax-3.jpg');
         background-position: 50% 65%;
      }

      #section4 .fp-bg{
         background-image: url('/images/parallax/parallax-4.jpg');
      }

      .section{
         margin: 0px;
         padding: 0px;
      }
   </style>
</head>

<body>

<!-- HEADER -->
<% include ../addon/header2.ejs %>

<ul id="menu">
   <li data-menuanchor="firstPage"><a href="#firstPage">First slide</a></li>
   <li data-menuanchor="secondPage"><a href="#secondPage">Second slide</a></li>
   <li data-menuanchor="3rdPage"><a href="#3rdPage">Third slide</a></li>
   <li data-menuanchor="4thpage"><a href="#4thpage">Fourth slide</a></li>
</ul>

<ul class="preview-extensions-menu">
   <li class="preview-more-extensions"><a href="http://alvarotrigo.com/fullPage/extensions/">More extensions</a></li>
   <li class="preview-buy-extension"><a href="https://gum.co/fullpageScrollOverflowReset">Download extension</a></li>
</ul>


<div id="fullpage">
   <div class="section" id="section1">
      <div class="fp-bg"></div>

      <div class="intro">
         <h1>Scroll Overflow Reset</h1>
         <p>Use `scrollOverflowReset: true` to reset the scrollbar after leaving the section or slide and always show the start of the content on section load.</p>
      </div>
   </div>
   <div class="section" id="section2">
      <div class="fp-bg"></div>

      <div class="intro">
         <h1>Section 2</h1>
         <p>
            Eu nec ferri molestie consequat, vel at alia dolore putant. Labore philosophia ut vix. In vis nostrud interesset appellantur, vis et tation feugiat scripserit. Te nec noster suavitate persecuti. Diceret erroribus cu vix, alii omnes ei sit. Sea an corrumpit patrioque, virtute accumsan nominavi et usu, ex mei dolore vocibus incorrupte.

            Duo ea saperet tacimates. Sed possim prodesset no, per novum putent doctus ea. Eu mea magna aliquip graecis, pri corpora officiis complectitur ei, lorem saepe consetetur his ad. Meis consulatu ei vis, an altera ocurreret interesset qui.

            Duo ea saperet tacimates. Sed possim prodesset no, per novum putent doctus ea. Eu mea magna aliquip graecis, pri corpora officiis complectitur ei, lorem saepe consetetur his ad. Meis consulatu ei vis, an altera ocurreret interesset qui.

            Duo ea saperet tacimates. Sed possim prodesset no, per novum putent doctus ea. Eu mea magna aliquip graecis, pri corpora officiis complectitur ei, lorem saepe consetetur his ad. Meis consulatu ei vis, an altera ocurreret interesset qui.

            Duo ea saperet tacimates. Sed possim prodesset no, per novum putent doctus ea. Eu mea magna aliquip graecis, pri corpora officiis complectitur ei, lorem saepe consetetur his ad. Meis consulatu ei vis, an altera ocurreret interesset qui.
         </p>
      </div>
   </div>

   <div class="section" id="section3">
      <div class="fp-bg"></div>

      <div class="intro">
         <h1>Section 3</h1>
         <p>
            Eu nec ferri molestie consequat, vel at alia dolore putant. Labore philosophia ut vix. In vis nostrud interesset appellantur, vis et tation feugiat scripserit. Te nec noster suavitate persecuti. Diceret erroribus cu vix, alii omnes ei sit. Sea an corrumpit patrioque, virtute accumsan nominavi et usu, ex mei dolore vocibus incorrupte.

            Duo ea saperet tacimates. Sed possim prodesset no, per novum putent doctus ea. Eu mea magna aliquip graecis, pri corpora officiis complectitur ei, lorem saepe consetetur his ad. Meis consulatu ei vis, an altera ocurreret interesset qui.
         </p>
      </div>

   </div>
   <div class="section" id="section4">
      <div class="fp-bg"></div>

      <div class="intro">
         <h1>Section 4</h1>
      </div>
   </div>
</div>

<!-- NO FOOTER -->
<!--<% //include ../addon/footer.ejs %>-->

<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>

<script type="text/javascript" src="/lib/jquery.fullPage/vendors/jquery.easings.min.js"></script>
<script type="text/javascript" src="/lib/jquery.fullPage/vendors/scrolloverflow.min.js"></script>

<script type="text/javascript" src="/lib/jquery.fullPage/fullpage.scrollOverflowReset.limited.min.js"></script>
<script type="text/javascript" src="/lib/jquery.fullPage/fullpage.parallax.limited.v3.min.js"></script>

<script type="text/javascript" src="/lib/jquery.fullPage/jquery.fullpage.extensions.min.js"></script>

<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
<script>
   function search() {
      new daum.Postcode({
         oncomplete: function (data) {
            var fullAddr = ''; // 최종 주소 변수
            var extraAddr = ''; // 조합형 주소 변수

            // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
               fullAddr = data.roadAddress

            } else { // 사용자가 지번 주소를 선택했을 경우(J)
               fullAddr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
            if (data.userSelectedType === 'R') {
               //법정동명이 있을 경우 추가한다.
               if (data.bname !== '') {
                  extraAddr += data.bname;
               }
               // 건물명이 있을 경우 추가한다.
               if (data.buildingName !== '') {
                  extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
               }
               // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
               fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('postcode').value = data.zonecode; //5자리 새우편번호 사용
            document.getElementById('address').value = fullAddr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById('details').focus();

            // addrToCoord를 이용한 좌표 자동변환 ㄱㄱ
         }
      }).open();
   }

   var browserLang = navigator.language || navigator.userLanguage;

   /*$('.summernote').summernote({
    height: 600,                 // set editor height
    minHeight: null,             // set minimum height of editor
    maxHeight: null,             // set maximum height of editor
    focus: true,
    placeholder: '내용을 입력 해주세요.',
    toolbar: [
    ['style', ['style']],
    ['font', ['bold', 'italic', 'underline', 'clear']],
    ['fontname', ['fontname']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']],
    ['table', ['table']],
    ['insert', ['link', 'video', 'hr']],
    ['view', ['fullscreen', 'codeview']],
    ['help', ['help']]
    ],
    lang: <%= value.lang %> || browserLang || "en"
    });*/

   //submit 버튼 눌렀을 시 발생하는 이벤트
   $('#roomInfo-Inputform').submit(function(e) {

       //form의 모든 자료를 넘김
      var queryString = $('#roomInfo-Inputform').serialize();

      $.ajax({
         //web서버에 넘겨서 table에 추가
         type : 'post',
         // 서버 URL 찾기
         url : './',
         data: queryString,

         success : function(data, textStatus, jqXHR){
            // get cookie

            // table에 자료가 추가가 끝난 후 이미지 서버에 전송
            // 끝난 후에는 새로운 라우터에로 웹서버에게 이미지 path와 postid를 던져주면 업데이트를 함.
            // 이미지 서버에 JWT토큰 날라가는 지 확인해봐야되는데 못해보았음.

           // 이미지를 normal 한번 보내고 vr한번보내고 총 2번을 따로 보내기
            const count_normal = $("#roomInfoInput-mainPreviewImage")[0].files.length;
            const count_vr = $("#roomInfoInput-mainPreviewImage")[0].files.length;
            var formNormal = new FormData();
            var formVR = new FormData();

            for(var i = 0; i< count_normal; ++i){
               formNormal.append('normal_images', $("#roomInfoInput-mainPreviewImage")[0].files[i]);
            }

            for(var i = 0; i< count_vr; ++i){
               formVR.append('vr_images', $("#roomInfoInput-VRImages")[0].files[i]);
            }

            formNormal.append('postID', data.postID);
            formVR.append('postID', data.postID);
            //etc_files
            // 이미지
            $.ajax({
               type : 'post',
               // 서버 URL 찾기
               url : '<%= mediaUrl %>' + '/convert/images',
               data : formNormal,
               headers: {
                  'authorization':$.cookie('authorization')
               },
               processData: false,  // file전송시 필수
               contentType: false,  // file전송시 필수

               success : function(data, textStatus, jqXHR){
                  alert("img Send 성공");
               },
               error: function(jqXHR, textStatus, error){
                  alert("img Send error" + error);
               }
            });

            $.ajax({
               type : 'post',
               // 서버 URL 찾기
               url : '<%= mediaUrl %>' + '/convert/vtour',
               data : formVR,
               headers: {
                  'authorization':$.cookie('authorization')
               },
               processData: false,  // file전송시 필수
               contentType: false,  // file전송시 필수

               success : function(data, textStatus, jqXHR){
                  alert("img Send 성공");
               },
               error: function(jqXHR, textStatus, error){
                  alert("img Send error" + error);
               }
            });
         },
         error: function(jqXHR, textStatus, error){
            alert(error);
         }
      });
      e.preventDefault(); // avoid to execute the actual submit of the form.*/
   });

</script>
<script type="text/javascript">
   $('#fullpage').fullpage({
      anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage'],
      sectionsColor: ['#475577', '#939FAA', '#4A6FB1', '#323539'],
      menu: '#menu',
      slidesNavigation: true,
      scrollOverflow: true,
      scrollOverflowReset: true,
      scrollOverflowResetKey: 'YWx2YXJvdHJpZ28uY29tXzlRaGMyTnliMnhzVDNabGNtWnNiM2RTWlhObGRBPT14Ykk=',
      parallax: true,
      parallaxKey: 'YWx2YXJvdHJpZ28uY29tXzlNZGNHRnlZV3hzWVhnPTFyRQ==',
      parallaxOptions: {
         type: 'reveal',
         percentage: 62,
         property: 'translate'
      },
      css3: true
   });
</script>
</body>
</html>
