<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Marker Clustering</title>
  <style>
    /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
    #map {
      position: fixed !important;
      width:50%;
      right:0;
      top:80px;
      height: calc(100% - 80px);
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <% include ../static/head.ejs %>
</head>

<% include ../addon/room-list-header.ejs %>

<body class="stretched">
<div id="wrapper" class="clearfix">
   <div class="container clearfix">
      <div class="col_half">
         <div>
            <div class="post-grid grid-container clearfix" data-layout="fitRows" id="posts">
            </div>
         </div>
         <ul id="pagination" class="pagination-sm"></ul>
      </div>
   </div>
</div>

<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>

  <div id="map"></div>
  <script type="text/javascript">

    function initMap() {
      var lat, lng;
      var is_safari = navigator.vendor && 
                      navigator.vendor.indexOf('Apple') > -1 &&
                      navigator.userAgent && 
                      !navigator.userAgent.match('CriOS');

      if (!is_safari && navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position){
          lat = position.coords.latitude;
          lng = position.coords.longitude;
          roomList.drawRoom(lat, lng);
        });
      } else {
        lat = <%= lat %>;
        lng = <%= lng %>;
        roomList.drawRoom(lat, lng);
      }
    }

  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzgaoy93ozZFYqlmTvo8LNbO6i9WYqrlM&callback=initMap">
  </script>
</body>
</html>
