<!DOCTYPE html>
<html lang="ko">



<head>
   <% include ../static/head.ejs %>
</head>






   <header>
      <!-- HEADER -->
      <% include ../addon/header.ejs %>

   </header>

<body class="stretched">
<div id="wrapper" class="clearfix">
   <div class="container clearfix">




      <div class="col_half">
         <div style="background-color: red">

            <div class="post-grid grid-container clearfix" data-layout="fitRows" id="posts">
               <!--for문 2번 조건 수정해야함 -->
               <% for (var i = 0; i < 5; i++) { %>
               <div class="entry clearfix">
                  <div class="portfolio-image">
                     <!--img태그 src수정-->
                     <a href="#"><img alt="Open Imagination" src="/tests/images/blog.JPG"></a>
                  </div>
                  <div class="entry-title">
                     <h2><a href="#">유저네임</a></h2>
                  </div>
                  <div class="entry-content">
                     <p>설명자리</p>
                     <a class="more-link">href="/bizdetail/   >>ejs users[i].id " a태그 안에 있던 자리</a>
                  </div>
               </div>
               <% } %>
            </div>

         </div>
      </div>


<!--구분선  -->


      <div class="col_half col_last">
         <div style="background-color: yellow">
            <%include room-map.ejs%>
         </div>
      </div>



</div>  <!-- wrapper.clearfix -->
</div> <!--container clearfix-->





<footer>
   <!-- FOOTER -->
   <% include ../addon/footer.ejs %>
</footer>


<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>

<div id="gotoTop" class="icon-angle-up"></div>



</body>
</html>
