
<%include ../static/css.ejs%>


<%include ../addon/header.ejs%>


<!-- Page Title
    ============================================= -->
<section id="page-title" class="page-title-mini">

   <div class="container clearfix">
      <h1>업체목록 상세보기</h1>
      <span>업체의 자세한 정보를 확인할수 있습니다.</span>
      <ol class="breadcrumb">
         <li><a href="#">Home</a></li>
         <li><a href="/bizList">업체목록</a></li>
         <li class="active"><!--{{companyName}}--></li>
      </ol>
   </div>

</section><!-- #page-title end -->


<!-- Content
		============================================= -->
<section id="content">

   <div class="content-wrap">

      <div class="container clearfix">

         <!-- Google Map
              ============================================= -->



         <div class="col-md-6 bottommargin">

            <!--<section id="google-map"  class="gmap" style="height: 240px;">-->
            <section style="height:240px;">
               <div class="entry-image">
                  <a href="images/blog/full/17.jpg" data-lightbox="image">
                     <img class="image_fade" src="" alt="<%=preview%>"></a>
               </div>

            </section>

            <!-- 업종 -->
            <br>

         </div><!-- Google Map End -->

         <div class="col-md-6">

            <!-- Contact Info
                  ============================================= -->
            <div class="col_md-6 bottommargin">

               <address>
                  <!--업체명-->
                  <strong> 업체 명:</strong> <%= display_name %> <br>

               </address>
               <!--소개글-->
               <abbr><strong>업체 설명:</strong> <%= business_type %>  </abbr> <br>   <br>
               <abbr><strong>시공 분야:</strong> <%= build_type %></abbr> <br>
               <!--<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com-->

            </div><!-- Contact Info End -->

            <!-- Testimonials
                  ============================================= -->
            <!--<div class="col_three_fifth col_last">-->

               <!--<div class="widget notoppadding noborder">-->

                  <!--&lt;!&ndash;<div class="fslider customjs testimonial twitter-scroll twitter-feed" data-username="envato" data-count="3" data-animation="slide" data-arrows="false">&ndash;&gt;-->
                     <!--&lt;!&ndash;<i class="i-plain i-small color icon-twitter nobottommargin" style="margin-right: 15px;"></i>&ndash;&gt;-->
                     <!--&lt;!&ndash;<div class="flexslider" style="width: auto;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="slider-wrap">&ndash;&gt;-->
                           <!--&lt;!&ndash;<div class="slide"></div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                     <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->

               <!--</div>-->

            <!--</div>&lt;!&ndash; Testimonial End &ndash;&gt;-->

            <div class="clear"></div>

            <!-- Modal Contact Form
                  ============================================= -->
            <a href="#" data-toggle="modal" data-target="#contactFormModal" class="button button-3d nomargin btn-block button-xlarge hidden-xs center">Click here to Send an Email</a>
            <a href="#" data-toggle="modal" data-target="#contactFormModal" class="button button-3d nomargin btn-block visible-xs center">Send an Email</a>

            <div class="modal fade" id="contactFormModal" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="contactFormModalLabel">Send Us an Email</h4>
                     </div>
                     <div class="modal-body">

                        <div class="contact-widget">
                           <div class="contact-form-result"></div>
                           <form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post">

                              <div class="form-process"></div>

                              <div class="col_half">
                                 <label for="template-contactform-name">Name <small>*</small></label>
                                 <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
                              </div>

                              <div class="col_half col_last">
                                 <label for="template-contactform-email">Email <small>*</small></label>
                                 <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
                              </div>

                              <div class="clear"></div>

                              <div class="col_half">
                                 <label for="template-contactform-phone">Phone</label>
                                 <input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control" />
                              </div>

                              <div class="col_half col_last">
                                 <label for="template-contactform-service">Services</label>
                                 <select id="template-contactform-service" name="template-contactform-service" class="sm-form-control">
                                    <option value="">-- Select One --</option>
                                    <option value="Wordpress">Wordpress</option>
                                    <option value="PHP / MySQL">PHP / MySQL</option>
                                    <option value="HTML5 / CSS3">HTML5 / CSS3</option>
                                    <option value="Graphic Design">Graphic Design</option>
                                 </select>
                              </div>

                              <div class="clear"></div>

                              <div class="col_full">
                                 <label for="template-contactform-subject">Subject <small>*</small></label>
                                 <input type="text" id="template-contactform-subject" name="template-contactform-subject" value="" class="required sm-form-control" />
                              </div>

                              <div class="col_full">
                                 <label for="template-contactform-message">Message <small>*</small></label>
                                 <textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
                              </div>

                              <div class="col_full hidden">
                                 <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                              </div>

                              <div class="col_full">
                                 <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Send Message</button>
                              </div>

                           </form>

                        </div>


                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div><!-- /.modal-content -->
               </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- Modal Contact Form End -->

         </div>

      </div>

   </div>

</section><!-- #content end -->

<% include ../addon/footer.ejs%>







<!--&lt;!&ndash; Content-->
    <!--============================================= &ndash;&gt;-->
<!--<section id="content">-->

   <!--<div class="content-wrap">-->

      <!--<div class="container clearfix">-->

         <!--&lt;!&ndash; Google Map-->
                   <!--============================================= &ndash;&gt;-->
         <!--<div class="col-md-6 bottommargin">-->

            <!--<a data-lightbox="image"><img class="image_fade" src="{{serverHost}}/{{companyIntroImage}}" alt="Standard Post with Image"></a>-->


         <!--</div>&lt;!&ndash; Google Map End &ndash;&gt;-->

         <!--<div class="col-md-6">-->

            <!--&lt;!&ndash; Contact Info-->
                        <!--============================================= &ndash;&gt;-->
            <!--<div class="fancy-title title-bottom-border">-->
               <!--<h3>{{companyName}}</h3>-->
            <!--</div>-->
            <!--<p>{{aboutCompany}}</p>-->

            <!--<address>-->
               <!--<strong>주요시공분야:</strong><br>-->
               <!--{{mainWorkField}}<br>-->
            <!--</address>-->
            <!--<address>-->
               <!--<strong>시공지역:</strong><br>-->
               <!--{{mainWorkArea}}<br>-->
            <!--</address>-->

            <!--&lt;!&ndash; Testimonials-->
                        <!--============================================= &ndash;&gt;-->

            <!--<div class="clear"></div>-->

         <!--</div>-->

      <!--</div>-->

   <!--</div>-->

<!--</section>&lt;!&ndash; #content end &ndash;&gt;-->

